{{#markdown}}
Badges are used as notification indicators (new messages, new requests).
{{/markdown}}

<span class="ui-badge">Primary badge</span>

{{> toggle-code}}
{{#markdown}}
```html
<span class="ui-badge">123</span>
```
{{/markdown}}
{{> copy-code}}

<span class="ui-badge ui-badge-alt">Secondary badge</span>

{{> toggle-code}}
{{#markdown}}
```html
<span class="ui-badge ui-badge-alt">123</span>/span>
```
{{/markdown}}
{{> copy-code}}
