<p>Growl is a live notification, usualy fixed on top of the page.</p>

  <div class="growl growl-type-info growl-position-center mbs growl-active" style="width: 350px;">
    <button class="growl-close">
      <i class="vicon">×</i>
    </button>
    <i class="vicon growl-icon">:</i>
    <div class="growl-content">
    info growl with dismiss
    </div>
  </div>

{{#each data}}
  <div class="growl growl-type-{{this}} growl-position-center mbs growl-active" style="width: 350px;">
    <i class="vicon growl-icon">
    {{#is this 'info'}}
    :
    {{/is}}
    {{#is this 'warning'}}
    :
    {{/is}}
    {{#is this 'error'}}
    :
    {{/is}}
    {{#is this 'success'}}
    v
    {{/is}}
    {{#is this 'notification'}}
    M
    {{/is}}
    {{#is this 'premium'}}
    *
    {{/is}}
    </i>
    <div class="growl-content">
    {{this}} growl
    </div>
  </div>
{{/each}}

  <div class="growl growl-type-info growl-position-left mbs growl-active" style="width: 350px;">
    <i class="vicon growl-icon">:</i>
    <div class="growl-content">
    left info growl
    </div>
  </div>

  <div class="growl growl-type-info growl-position-right mbs growl-active" style="width: 350px;">
    <i class="vicon growl-icon">:</i>
    <div class="growl-content">
    right info growl
    </div>
  </div>
