<p>Labels are essentially used for clickable keywords.</p>

<span class="ui-label">
  <a href="">Lorem</a>
</span>
<span class="ui-label">
  <a href="">Ipsum</a>
  <a href=""><i class="vicon">&times;</i></a>
</span>

{{> toggle-code}}
{{#markdown}}
```html
<span class="ui-label">
  <a href="">Lorem</a>
</span>
<span class="ui-label">
  <a href="">Ipsum</a>
  <a href=""><i class="vicon">&times;</i></a>
</span>
```
{{/markdown}}
{{> copy-code}}

<span class="ui-label ui-label-premium">
  <a href="">lorem ipsum</a>
</span>

{{> toggle-code}}
{{#markdown}}
```html
<span class="ui-label ui-label-premium">
  <a href="">lorem ipsum</a>
</span>
```
{{/markdown}}
{{> copy-code}}
