{{#markdown}}
To change how much the progress bar is filled, you need to modify the width of the element with the classname **.pb-fill**
{{/markdown}}

<div class="progressbar">
  <div class="pb-mask">
    <div class="pb-fill" style="width:33%"></div>
  </div>
</div>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<div class="progressbar">
  <div class="pb-mask">
    <div class="pb-fill" style="width:33%"></div>
  </div>
</div>
```
{{/markdown}}
{{> copy-code}}
</div>

<div class="progressbar pb-large">
  <div class="pb-mask">
    <div class="pb-fill" style="width:33%"></div>
  </div>
</div>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<div class="progressbar pb-large">
  <div class="pb-mask">
    <div class="pb-fill" style="width:33%"></div>
  </div>
</div>
```
{{/markdown}}
{{> copy-code}}
</div>

