<dl class="share-links">
  <dt>Share this page</dt>
  <dd>
    <ul>
      <li>
        <a class="facebook tooltip">
          <span class="vicon vicon-facebook"></span>
          <span class="tooltip-content">Facebook</span>
        </a>
      </li>
      <li>
        <a class="google tooltip">
          <span class="vicon vicon-gplus"></span>
          <span class="tooltip-content">Google+</span>
        </a>
      </li>
      <li>
        <a class="twitter tooltip" title="Twitter">
          <span class="vicon vicon-twitter"></span>
          <span class="tooltip-content">Twitter</span>
        </a>
      </li>
      <li>
        <a class="viadeo tooltip" title="Viadeo">
          <span class="vicon vicon-viadeo"></span>
          <span class="tooltip-content">Viadeo</span>
        </a>
      </li>
    </ul>
  </dd>
</dl>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<dl class="share-links">
  <dt>Share this page</dt>
  <dd>
    <ul>
      <li>
        <a class="facebook tooltip">
          <span class="vicon vicon-facebook"></span>
          <span class="tooltip-content">Facebook</span>
        </a>
      </li>
      <li>
        <a class="google tooltip">
          <span class="vicon vicon-gplus"></span>
          <span class="tooltip-content">Google+</span>
        </a>
      </li>
      <li>
        <a class="twitter tooltip" title="Twitter">
          <span class="vicon vicon-twitter"></span>
          <span class="tooltip-content">Twitter</span>
        </a>
      </li>
      <li>
        <a class="viadeo tooltip" title="Viadeo">
          <span class="vicon vicon-viadeo"></span>
          <span class="tooltip-content">Viadeo</span>
        </a>
      </li>
    </ul>
  </dd>
</dl>
```
{{/markdown}}
{{> copy-code}}
</div>
