<dl class="share-links">
  <dt>Share this page</dt>
  <dd>
    <ul>
      <li>
        <a class="facebook tooltip">
          <i class="vicon">f</i><!-- Icon for Facebook -->
          <span class="tooltip-content">Facebook</span>
        </a>
      </li>
      <li>
        <a class="google tooltip">
          <i class="vicon">g</i><!-- Icon for Google+ -->
          <span class="tooltip-content">Google+</span>
        </a>
      </li>
      <li>
        <a class="twitter tooltip" title="Twitter">
          <i class="vicon">t</i><!-- Icon for Twitter -->
          <span class="tooltip-content">Twitter</span>
        </a>
      </li>
      <li>
        <a class="viadeo tooltip" title="Viadeo">
          <i class="vicon">ô</i><!-- Icon for the letter o -->
          <i class="vicon">õ</i><!-- Icon for the leaf -->
          <span class="tooltip-content">Viadeo</span>
        </a>
      </li>
    </ul>
  </dd>
</dl>

{{> toggle-code}}
{{#markdown}}
```html
<dl class="share-links">
  <dt>Share this page</dt>
  <dd>
    <ul>
      <li>
        <a class="facebook tooltip">
          <i class="vicon">f</i><!-- Icon for Facebook -->
          <span class="tooltip-content">Facebook</span>
        </a>
      </li>
      <li>
        <a class="google tooltip">
          <i class="vicon">g</i><!-- Icon for Google+ -->
          <span class="tooltip-content">Google+</span>
        </a>
      </li>
      <li>
        <a class="twitter tooltip" title="Twitter">
          <i class="vicon">t</i><!-- Icon for Twitter -->
          <span class="tooltip-content">Twitter</span>
        </a>
      </li>
      <li>
        <a class="viadeo tooltip" title="Viadeo">
          <i class="vicon">ô</i><!-- Icon for the letter o -->
          <i class="vicon">õ</i><!-- Icon for the leaf -->
          <span class="tooltip-content">Viadeo</span>
        </a>
      </li>
    </ul>
  </dd>
</dl>
```
{{/markdown}}
