---
category: "components"
---

<p>Tags are not clickable, they only have a remove button.</p>

<span class="ui-tag">Consectetur <a class="remove" href=""><i class="vicon vicon-close"></i></a></span>
<span class="ui-tag">Sed do <a class="remove" href=""><i class="vicon vicon-close"></i></a></span>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<span class="ui-tag">
  Consectetur
  <a class="remove" href="">
    <i class="vicon vicon-close"></i>
  </a>
</span>
```
{{/markdown}}
{{> copy-code}}
</div>
