---
tag: "sidebar-doc"
title: "Alerts"
tab: "elements"
category: "components"
alerts:
- success
- warning
- error
- error-form
- notification
- premium
---

<h2 id="alerts">
  Alerts
</h2>

<p>Alerts have an optional **close button** and **icon**.<br />
Several kinds of alert:</p>

<ul class="list-disc mbm">
  <li>**info**</li>
  <li>**success**</li>
  <li>**error**</li>
  <li>**form-error**</li>
  <li>**notification**</li>
  <li>**premium**</li>
</ul>

<div class="bx-alert mbs">
  <button data-event="click" data-comp="alert" class="bx-alert-close">
    <i class="vicon">×</i>
  </button>

  <i class="vicon bx-alert-icon">:</i>

  <div class="bx-alert-content">
    <p class="mbn">Information Message...</p>
  </div>
</div>

<div class="bx-alert bx-alert-ok mbs">
  <button data-event="click" data-comp="alert" class="bx-alert-close">
    <i class="vicon">×</i>
  </button>

  <i class="vicon bx-alert-icon">v</i>

  <div class="bx-alert-content">
    <p class="mbn">Success Message...</p>
  </div>
</div>

<div class="bx-alert bx-alert-error mbs">
  <button data-event="click" data-comp="alert" class="bx-alert-close">
    <i class="vicon">×</i>
  </button>

  <i class="vicon bx-alert-icon">;</i>

  <div class="bx-alert-content">
    <p class="mbn">Error message...</p>
  </div>
</div>

<div class="bx-alert bx-alert-error-form mbs">
  <button data-event="click" data-comp="alert" class="bx-alert-close">
    <i class="vicon">×</i>
  </button>

  <i class="vicon bx-alert-icon">;</i>

  <div class="bx-alert-content">
    <p class="mbn">Error form message...</p>
  </div>
</div>

<div class="bx-alert bx-alert-notification mbs">
  <button data-event="click" data-comp="alert" class="bx-alert-close">
    <i class="vicon">×</i>
  </button>

  <i class="vicon bx-alert-icon">M</i>

  <div class="bx-alert-content">
    <p class="mbn">Notification message...</p>
  </div>
</div>

<div class="bx-alert bx-alert-premium mbs">
  <button data-event="click" data-comp="alert" class="bx-alert-close">
    <i class="vicon">×</i>
  </button>

  <i class="vicon bx-alert-icon">*</i>

  <div class="bx-alert-content">
    <p class="mbn">Premium message...</p>
  </div>
</div>


<div class="toggle-code mtxl mbxs">
  <a class='show'>
    show code
  </a>
  <a class='hide'>
    hide code
  </a>
</div>

```html
<div class="bx-alert bx-alert-ok mbs">
  <button data-event="click" data-comp="alert" class="bx-alert-close bootnode">
    <i class="vicon">×</i>
  </button>

  <i class="vicon bx-alert-icon">:</i>

  <div class="bx-alert-content">
    <p class="mbn">Success message...</p>
  </div>
</div>
```
