---
tag: "sidebar-doc"
title: "Icons"
tab: "elements"
category: "icons"
---


<h2 id="icons-overview">
  Overview
</h2>

<p>The base font acts as a parallel solution to the global image sprite. The icon font really shines on mobile and HiDPI devices where it reveals all of its vector awesomeness.</p>

<h2 id="icons-example">
  Example
</h2>

<p>This is the simple tag to display an icon, where c is the character (icon) you want to display. Then you can use your own styles on top of this.</p>

```html
<i class="vicon">
  c
</i>
```

<h3 id="icons-download">
  Download
</h3>

<p>The base font acts as a parallel solution to the global image sprite. The icon font really shines on mobile and HiDPI devices where it reveals all of its vector awesomeness.</p>



