---
tag: "sidebar-doc"
title: "Tags"
tab: "elements"
category: "components"
---

<h2 id="tags">
  Tags
</h2>

<p>Tags are not clickable, they only have a remove button.</p>

<span class="ui-tag">Consectetur <a class="remove" href=""><i class="vicon">×</i></a></span>
<span class="ui-tag">Sed do <a class="remove" href=""><i class="vicon">×</i></a></span>

```html
<span class="ui-tag">
  Consectetur
  <a class="remove" href="">
    <i class="vicon">×</i>
  </a>
</span>
```
