// Global Icons
$font-path: $fonts-dir;
$font-name: 'Viadeoicons';

@import 'tetra-icons/dist/scss/_viadeoicons';

.vicon {
  font-size: 12px;
}

.global-icon, .ico {
	background: url('#{$img-sprite-dir}/global-sprite2.png') no-repeat;
	color: transparent;
	font: 0/0 a;
	display: inline-block;
	height: 16px;
	overflow: hidden;
	vertical-align: text-top;
	width: 16px;
}
