// Icon Fonts

@font-face {
  font-family: 'Viadeoicons';
  src: url("#{$fonts-dir}/viadeoicons/#{$fonts-version}/viadeoicons.eot");
  src: url("#{$fonts-dir}/viadeoicons/#{$fonts-version}/viadeoicons.eot?#iefix') format('embedded-opentype"),
    url("#{$fonts-dir}/viadeoicons/#{$fonts-version}/viadeoicons.woff') format('woff"),
    url("#{$fonts-dir}/viadeoicons/#{$fonts-version}/viadeoicons.ttf') format('truetype");
  font-weight: normal;
  font-style: normal;
}

i.vicon {
  display: inline-block;
  font-family: 'Viadeoicons';
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
