/* Helpers
 * Short CSS classes to save time and maintain consistency
 * ----------------------------------------------------------------- */

/* Spacing
 * ----------------------------------------------------------------- */

/* Margin */

// None
.pan         { padding: 0!important; }
.ptn, .pvn   { padding-top: 0!important; }
.prn, .phn   { padding-right: 0!important; }
.pbn, .pvn   { padding-bottom: 0!important; }
.pln, .phn   { padding-left: 0!important; }

// Extra Small
.paxs        { padding: @spacingXs!important; }
.ptxs, .pvxs { padding-top: @spacingXs!important; }
.prxs, .phxs { padding-right: @spacingXs!important; }
.pbxs, .pvxs { padding-bottom: @spacingXs!important; }
.plxs, .phxs { padding-left: @spacingXs!important; }

// Small
.pas         { padding: @spacingS!important; }
.pts, .pvs   { padding-top: @spacingS!important; }
.prs, .phs   { padding-right: @spacingS!important; }
.pbs, .pvs   { padding-bottom: @spacingS!important; }
.pls, .phs   { padding-left: @spacingS!important; }

// Medium
.pam         { padding: @spacingM!important; }
.ptm, .pvm   { padding-top: @spacingM!important; }
.prm, .phm   { padding-right: @spacingM!important; }
.pbm, .pvm   { padding-bottom: @spacingM!important; }
.plm, .phm   { padding-left: @spacingM!important; }

// Large
.pal         { padding: @spacingL!important; }
.ptl, .pvl   { padding-top: @spacingL!important; }
.prl, .phl   { padding-right: @spacingL!important; }
.pbl, .pvl   { padding-bottom: @spacingL!important; }
.pll, .phl   { padding-left: @spacingL!important; }

// Extra Large
.paxl        { padding: @spacingXl!important; }
.ptxl, .pvxl { padding-top: @spacingXl!important; }
.prxl, .phxl { padding-right: @spacingXl!important; }
.pbxl, .pvxl { padding-bottom: @spacingXl!important; }
.plxl, .phxl { padding-left: @spacingXl!important; }


/* Padding */

// None
.man         { margin: 0!important; }
.mtn, .mvn   { margin-top: 0!important; }
.mrn, .mhn   { margin-right: 0!important; }
.mbn, .mvn   { margin-bottom: 0!important; }
.mln, .mhn   { margin-left: 0!important; }

// Extra Small
.maxs        { margin: @spacingXs!important; }
.mtxs, .mvxs { margin-top: @spacingXs!important; }
.mrxs, .mhxs { margin-right: @spacingXs!important; }
.mbxs, .mvxs { margin-bottom: @spacingXs!important; }
.mlxs, .mhxs { margin-left: @spacingXs!important; }

// Small
.mas         { margin: @spacingS!important; }
.mts, .mvs   { margin-top: @spacingS!important; }
.mrs, .mhs   { margin-right: @spacingS!important; }
.mbs, .mvs   { margin-bottom: @spacingS!important; }
.mls, .mhs   { margin-left: @spacingS!important; }

// Medium
.mam         { margin: @spacingM!important; }
.mtm, .mvm   { margin-top: @spacingM!important; }
.mrm, .mhm   { margin-right: @spacingM!important; }
.mbm, .mvm   { margin-bottom: @spacingM!important; }
.mlm, .mhm   { margin-left: @spacingM!important; }

// Large
.mal         { margin: @spacingL!important; }
.mtl, .mvl   { margin-top: @spacingL!important; }
.mrl, .mhl   { margin-right: @spacingL!important; }
.mbl, .mvl   { margin-bottom: @spacingL!important; }
.mll, .mhl   { margin-left: @spacingL!important; }

// Extra Large
.maxl        { margin: @spacingXl!important; }
.mtxl, .mvxl { margin-top: @spacingXl!important; }
.mrxl, .mhxl { margin-right: @spacingXl!important; }
.mbxl, .mvxl { margin-bottom: @spacingXl!important; }
.mlxl, .mhxl { margin-left: @spacingXl!important; }


/* Border Radius
 * ----------------------------------------------------------------- */

// None
.bran                   { .border-radius(0); }
.brtln, .brtn, .brln    { .border-radius-topleft(0); }
.brtrn, .brtn, .brrn    { .border-radius-topright(0); }
.brbrn, .brbn, .brrn    { .border-radius-bottomright(0); }
.brbln, .brbn, .brln    { .border-radius-bottomleft(0); }

// Small
.bras                   { .border-radius(@borderRadiusS); }
.brtls, .brts, .brls    { .border-radius-topleft(@borderRadiusS); }
.brtrs, .brts, .brrs    { .border-radius-topright(@borderRadiusS); }
.brbrs, .brbs, .brrs    { .border-radius-bottomright(@borderRadiusS); }
.brbls, .brbs, .brls    { .border-radius-bottomleft(@borderRadiusS); }

// Medium
.bram                   { .border-radius(@borderRadiusM); }
.brtlm, .brtm, .brlm    { .border-radius-topleft(@borderRadiusM); }
.brtrm, .brtm, .brrm    { .border-radius-topright(@borderRadiusM); }
.brbrm, .brbm, .brrm    { .border-radius-bottomright(@borderRadiusM); }
.brblm, .brbm, .brlm    { .border-radius-bottomleft(@borderRadiusM); }

// Large
.bral                   { .border-radius(@borderRadiusL); }
.brtll, .brtl, .brll    { .border-radius-topleft(@borderRadiusL); }
.brtrl, .brtl, .brrl    { .border-radius-topright(@borderRadiusL); }
.brbrl, .brbl, .brrl    { .border-radius-bottomright(@borderRadiusL); }
.brbll, .brbl, .brll    { .border-radius-bottomleft(@borderRadiusL); }



/* Text Alignment
 * ----------------------------------------------------------------- */
.tac, .center { text-align: center; }
.tal { text-align: left; }
.tar { text-align: right; }
.taj { text-align: justify; }
.tai { text-align: inherit; }

.hyph { .hyphens(); }

/* Gray scale
 * ----------------------------------------------------------------- */
.black { color: @black; }
.dark-gray { color: @grayDark; }
.gray { color: @gray; }
.light-gray { color: @grayLight; }
.lighter-gray { color: @grayLighter; }
.white { color: @white; }



/* Miscellaneous
 * ----------------------------------------------------------------- */
 
.context        { overflow: hidden; zoom: 1; _overflow: visible; }
.cf, .clearfix  { .clearfixHack(); }
.clear          { clear: both; }
.hidden         { display: none; }
.elsewhere      { position: absolute; left: -99999px; }
.fl, .floatL    { float: left; }
.fr, .floatR    { float: right; }
.outline        { outline: @grayLight dashed thin; }
.outline-red    { outline: #FF0000 dashed thin; }
.error          { color:#da4d4d; }
.nowrap         { white-space: nowrap; }