[submodule "src/js/lib/JSON-js"]
	path = src/js/lib/JSON-js
	url = https://github.com/douglascrockford/JSON-js.git
[submodule "src/js/lib/tetra"]
	path = src/js/lib/tetra
	url = https://github.com/viadeo/tetra.git
