<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Tetra UI</title>
		<link type="images/x-icon" rel="shortcut icon" href="/tetra-ui/img/logo/favicon.ico" />
		<link rel="stylesheet" href="/tetra-ui/dist/tetra-ui-doc-1.0.0.min.css" />
		<link rel="stylesheet" href="/tetra-ui/lib/prism/prism.css" />
		<script src="/tetra-ui/lib/jquery/jquery.min.js"></script>
		<script src="/tetra-ui/lib/tetra/tetra-core.min.js"></script>
		<script src="/tetra-ui/js/tetra-start.js"></script>
	</head>

	<body>

		<div class="wrap">

			<div class="header">
				<div class="plxl prxl">
					<a href="" class="fl"><img src="/tetra-ui/img/logo/viadeo.png" /></a>
				</div>
			</div>

			<div class="content gr">
				
				<div class="gu gu-1of2 ptxl">
	
					<form class="core-form form-horizontal">
	
						<div class="control-group">
							<label class="control-label">Text input</label>
							<div class="controls">
	     
								<div class="autocomplete tooltip" id="autocomplete-sample-1">
									
									<input type="text" class="bootnode"
										data-view="comp_autocomplete/autocomplete"
										data-suggest-container-id="autocomplete-suggestions"
										data-suggest-template-ref="completion1"
										data-url="/tetra-ui/playground/autocomplete-fake.json"
										data-event="focus"
										data-min-length="1"
									/>

	 								<ul class="autocomplete-menu" id="autocomplete-suggestions"></ul>
	      
									<script id="tmpl_completion1" type="text/html">
									{% for (var i in data) { %}
										<li data-value="{%= data[i].fullName %}" data-ref="{%= data[i].ref %}">
											{%= data[i].fullName %} ({%= data[i].email %})
										</li>
									{% } %}
									</script>
	
								</div>
							
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Text input 2</label>
							<div class="controls">

 								<div class="autocomplete" id="autocomplete-sample-2">
          
									<input type="text" class="bootnode"
										data-view="comp_autocomplete/autocomplete"
										data-suggest-container-id="autocomplete-suggestions-2"
										data-suggest-template-ref="completion2"
       	     									data-url="/tetra-ui/playground/autocomplete-fake2.json"
       		     								data-event="focus"
										data-min-length="1"
										data-typing-delay="500"
									/>

									<span class="help-inline">(typing delay is 0.5s)</span>
	
          								<ul class="autocomplete-menu" id="autocomplete-suggestions-2"></ul>
           	 
									<script id="tmpl_completion2" type="text/html">
									{% for (var i in data) { %}
										<li data-value="{%= data[i].fullName %}" data-ref="{%= data[i].ref %}">
										{%= data[i].fullName %} - <strong>{%= data[i].headline %}</strong>
										</li>
									{% } %}
									</script>

								</div>
      
 							</div>

						</div>

					</form>
				</div>
				<div class="gu gu-last ptxl">
					<p id="selectedItemName" class="plxl prxl" style="display:none;"></p>
					<script id="tmpl_statusMessage" type="text/html">
						<h3>Another app in another scope says :</h3>
						<p>Last selected item is : <strong>{%= name  %}</strong> ({%= memberId %}) from <code class="language-markup">{%= origin  %}</code></p>
					</script>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/tetra-ui/playground/scripts.js"></script>

	</body>
</html>
