<div class="gr grsl">

  <h3>Default buttons</h3>

  <div class="gu gu-1of1 gu-m-1of1">
    <a class="btn btn-default btn-small mbs">Small</a>
    <a class="btn btn-default mbs">Default</a>
    <a class="btn btn-default btn-loading mbs"><span>Loading</span></a>
    <a class="btn btn-default btn-disabled mbs">Disable</a>
    <a class="btn btn-default btn-large mbs">Large</a>
    <a class="btn btn-default btn-lead mbs">Lead</a>
<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<!-- Add btn-small to the btn class. -->
<a class="btn btn-default btn-small">
  Small
</a>
<!-- The default btn. -->
<a class="btn btn-default mbs">
  Default
</a>
<!-- Add <span> inside the btn-loading to preserve the width of the button -->
<a class="btn btn-default btn-loading">
  <span>Loading</span>
</a>
<!-- Add btn-disabled to the btn class. -->
<a class="btn btn-default btn-disabled">
  Disable
</a>
<!-- Add btn-large to the btn class. -->
<a class="btn btn-default btn-large">
  Large
</a>
<!-- Add btn-lead to the btn class. -->
<a class="btn btn-default btn-lead">
  Lead
</a>
```
{{/markdown}}
{{> copy-code}}
</div>
  </div>

  <h3>Primary buttons</h3>

  <div class="gu gu-1of1 gu-m-1of1">
    <a class="btn btn-primary btn-small mbs">Small</a>
    <a class="btn btn-primary mbs">Default</a>
    <a class="btn btn-primary btn-loading mbs"><span>Loading</span></a>
    <a class="btn btn-primary btn-disabled mbs">Disable</a>
    <a class="btn btn-primary btn-large mbs">Large</a>
    <a class="btn btn-primary btn-lead mbs">Lead</a>
<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<!-- Add btn-small to the btn class. -->
<a class="btn btn-primary btn-small">
  Small
</a>
<!-- The primary btn. -->
<a class="btn btn-primary mbs">
  primary
</a>
<!-- Add <span> inside the btn-loading to preserve the width of the button -->
<a class="btn btn-primary btn-loading">
  <span>Loading</span>
</a>
<!-- Add btn-disabled to the btn class. -->
<a class="btn btn-primary btn-disabled">
  Disable
</a>
<!-- Add btn-large to the btn class. -->
<a class="btn btn-primary btn-large">
  Large
</a>
<!-- Add btn-lead to the btn class. -->
<a class="btn btn-primary btn-lead">
  Lead
</a>
```
{{/markdown}}
{{> copy-code}}
</div>
  </div>

  <h3>Tertiary buttons</h3>

  <div class="gu gu-last gu-m-1of1">
    <a class="btn btn-tertiary btn-small mbs">Small</a>
    <a class="btn btn-tertiary mbs">Default</a>
    <a class="btn btn-tertiary btn-loading mbs"><span>Loading</span></a>
    <a class="btn btn-tertiary btn-disabled mbs">Disable</a>
    <a class="btn btn-tertiary btn-large mbs">Large</a>
    <a class="btn btn-tertiary btn-lead mbs">Lead</a>
<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<!-- Add btn-small to the btn class. -->
<a class="btn btn-tertiary btn-small">
  Small
</a>
<!-- The tertiary btn. -->
<a class="btn btn-tertiary mbs">
  tertiary
</a>
<!-- Add <span> inside the btn-loading to preserve the width of the button -->
<a class="btn btn-tertiary btn-loading">
  <span>Loading</span>
</a>
<!-- Add btn-disabled to the btn class. -->
<a class="btn btn-tertiary btn-disabled">
  Disable
</a>
<!-- Add btn-large to the btn class. -->
<a class="btn btn-tertiary btn-large">
  Large
</a>
<!-- Add btn-lead to the btn class. -->
<a class="btn btn-tertiary btn-lead">
  Lead
</a>
```
{{/markdown}}
{{> copy-code}}
</div>
  </div>

</div>


<h3>Icons buttons</h3>

<a class="btn btn-icon btn-primary mrs"><i class="vicon">a</i></a>
<a class="btn btn-icon mrs"><i class="vicon">v</i></a>
<a class="btn btn-icon mrs"><i class="vicon">c</i></a>
<a class="btn btn-icon btn-disabled"><i class="vicon">a</i></a>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<a class="btn btn-icon btn-primary mrs"><i class="vicon">a</i></a>
<a class="btn btn-icon mrs"><i class="vicon">v</i></a>
<a class="btn btn-icon mrs"><i class="vicon">c</i></a>
<a class="btn btn-icon btn-disabled"><i class="vicon">a</i></a>
```
{{/markdown}}
{{> copy-code}}
</div>


