<div class="gr grsl">

  <p>Default buttons</p>

  <div class="gu gu-1of1 gu-m-1of1">
    <a class="btn btn-default btn-small mbs mrl">Small</a>
    <a class="btn btn-default mbs mrl">Default</a>
    <a class="btn btn-default btn-loading mbs mrl"><span>Loading</span></a>
    <a class="btn btn-default btn-disabled mbs mrl">Disable</a>
    <a class="btn btn-default btn-large mbs mrl">Large</a>
    <a class="btn btn-default btn-lead mbs mrl">Lead</a>
<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<!-- Add btn-small to the btn class. -->
<a class="btn btn-default btn-small">
  Small
</a>
<!-- The default btn. -->
<a class="btn btn-default mbs mrl">
  Default
</a>
<!-- Add <span> inside the btn-loading to preserve the width of the button -->
<a class="btn btn-default btn-loading">
  <span>Loading</span>
</a>
<!-- Add btn-disabled to the btn class. -->
<a class="btn btn-default btn-disabled">
  Disable
</a>
<!-- Add btn-large to the btn class. -->
<a class="btn btn-default btn-large">
  Large
</a>
<!-- Add btn-lead to the btn class. -->
<a class="btn btn-default btn-lead">
  Lead
</a>
```
{{/markdown}}
{{> copy-code}}
</div>
  </div>

  <p>Primary buttons</p>

  <div class="gu gu-1of1 gu-m-1of1">
    <a class="btn btn-primary btn-small mbs mrl">Small</a>
    <a class="btn btn-primary mbs mrl">Default</a>
    <a class="btn btn-primary btn-loading mbs mrl"><span>Loading</span></a>
    <a class="btn btn-primary btn-disabled mbs mrl">Disable</a>
    <a class="btn btn-primary btn-large mbs mrl">Large</a>
    <a class="btn btn-primary btn-lead mbs mrl">Lead</a>
<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<!-- Add btn-small to the btn class. -->
<a class="btn btn-primary btn-small">
  Small
</a>
<!-- The primary btn. -->
<a class="btn btn-primary mbs mrl">
  primary
</a>
<!-- Add <span> inside the btn-loading to preserve the width of the button -->
<a class="btn btn-primary btn-loading">
  <span>Loading</span>
</a>
<!-- Add btn-disabled to the btn class. -->
<a class="btn btn-primary btn-disabled">
  Disable
</a>
<!-- Add btn-large to the btn class. -->
<a class="btn btn-primary btn-large">
  Large
</a>
<!-- Add btn-lead to the btn class. -->
<a class="btn btn-primary btn-lead">
  Lead
</a>
```
{{/markdown}}
{{> copy-code}}
</div>
  </div>

  <p>Tertiary buttons</p>

  <div class="gu gu-last gu-m-1of1">
    <a class="btn btn-tertiary btn-small mbs mrl">Small</a>
    <a class="btn btn-tertiary mbs mrl">Default</a>
    <a class="btn btn-tertiary btn-loading mbs mrl"><span>Loading</span></a>
    <a class="btn btn-tertiary btn-disabled mbs mrl">Disable</a>
    <a class="btn btn-tertiary btn-large mbs mrl">Large</a>
    <a class="btn btn-tertiary btn-lead mbs mrl">Lead</a>
<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<!-- Add btn-small to the btn class. -->
<a class="btn btn-tertiary btn-small">
  Small
</a>
<!-- The tertiary btn. -->
<a class="btn btn-tertiary">
  tertiary
</a>
<!-- Add <span> inside the btn-loading to preserve the width of the button -->
<a class="btn btn-tertiary btn-loading">
  <span>Loading</span>
</a>
<!-- Add btn-disabled to the btn class. -->
<a class="btn btn-tertiary btn-disabled">
  Disable
</a>
<!-- Add btn-large to the btn class. -->
<a class="btn btn-tertiary btn-large">
  Large
</a>
<!-- Add btn-lead to the btn class. -->
<a class="btn btn-tertiary btn-lead">
  Lead
</a>
```
{{/markdown}}
{{> copy-code}}
</div>
  </div>

</div>


<p>Icons buttons</p>

<a class="btn btn-icon btn-primary mrs"><i class="vicon">a</i></a>
<a class="btn btn-icon mrs"><i class="vicon">v</i></a>
<a class="btn btn-icon mrs"><i class="vicon">c</i></a>
<a class="btn btn-icon btn-disabled"><i class="vicon">a</i></a>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<a class="btn btn-icon btn-primary mrs"><i class="vicon">a</i></a>
<a class="btn btn-icon mrs"><i class="vicon">v</i></a>
<a class="btn btn-icon mrs"><i class="vicon">c</i></a>
<a class="btn btn-icon btn-disabled"><i class="vicon">a</i></a>
```
{{/markdown}}
{{> copy-code}}
</div>


