{{#markdown}}
To show dropdown items, add the additional **.open** class to the **.dd** dropdown class
{{/markdown}}

<div class="gr">
  <div class="gu gu-1of2 gu-m-1of1">

    <div class="dd">
       <a class="dd-btn btn btn-default">Default <i class="vicon">∨</i></a>
       <ul class="dd-menu">
           <li class="dd-item"><a href="">dd item</a></li>
           <li class="dd-item"><a href="">dd item</a></li>
       </ul>
    </div>

    <div class="dd open mrxl">
       <a class="dd-btn btn btn-default">Default opened<i class="vicon">∨</i></a>
       <ul class="dd-menu">
           <li class="dd-item"><a href="">dd item</a></li>
           <li class="dd-item"><a href="">dd item</a></li>
       </ul>
    </div>

  </div>
  <div class="gu-last tar">

    <div class="dd pull-right open">
       <a class="dd-btn btn btn-default">Default right opened <i class="vicon">∨</i></a>
       <ul class="dd-menu">
         <li class="dd-item"><a href="">dd item</a></li>
         <li class="dd-item"><a href="">dd item</a></li>
       </ul>
    </div>

    <a class="btn btn-default">Primary action</a>
    <div class="dd pull-right">
      <a class="dd-btn btn btn-default btn-append"><i class="vicon">∨</i></a>
       <ul class="dd-menu">
           <li class="dd-item"><a href="">dd item</a></li>
           <li class="dd-item"><a href="">dd item</a></li>
       </ul>
    </div>

    <a class="btn btn-default">Primary action</a>
    <div class="dd pull-right open">
      <a class="dd-btn btn btn-default btn-append"><i class="vicon">∨</i></a>
       <ul class="dd-menu">
           <li class="dd-item"><a href="">dd item</a></li>
           <li class="dd-item"><a href="">dd item</a></li>
       </ul>
    </div>

  </div>
</div>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<div class="dd">
   <a class="dd-btn btn btn-default">Default <i class="vicon">∨</i></a>
   <ul class="dd-menu">
       <li class="dd-item"><a href="">dd item</a></li>
       <li class="dd-item"><a href="">dd item</a></li>
   </ul>
</div>
```
{{/markdown}}
{{> copy-code}}
</div>
