{{#markdown}}
Please go to [Tetra-icons](http://viadeo.github.io/tetra-icons/) to discover the Viadeo icon fonts.
{{/markdown}}

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
 <span class="vicon vicon-message"></span>
```
{{/markdown}}
{{> copy-code}}
</div>
