{{#markdown}}
The base font acts as a parallel solution to the global image sprite. The icon font really shines on mobile and HiDPI devices where it reveals all of its vector awesomeness
{{/markdown}}

<div class="">
  <div class="gr grss mbm">
    {{#each data}}
        <div class="gu gu-1of5 gu-m-1of1 icon">
          <div class="bx tac">
            <span class="vicon vicon-{{title}} mbm"></span><br />
            <span class="gray">.vicon<br /> .vicon-{{title}}</span>
          </div>
        </div>
    {{/each}}
  </div>
</div>
