{{#markdown}}
This is the simple tag to display an icon, where c is the character (icon) you want to display. Then you can use your own styles on top of this.
{{/markdown}}

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<i class="vicon">
  c
</i>
```
{{/markdown}}
{{> copy-code}}
</div>

