/* Variables.less
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */
/*
@errorText: 		#b94a48;
@errorBackground: 	#f2dede;
@errorBorder: 		darken(spin(@errorBackground, -10), 3%);
*/
/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
/* Yeah ! Duplicate code ! Thanks to LESS and his lack of conditions */
/*#grid {
  .input(@gridColumnWidth, @gridGutterWidth) {

    .spanX (@index) when (@index > 0) {
      (~"input.span@{index}, textarea.span@{index}, .uneditable-input.span@{index}") { .span(@index); }
      .spanX(@index - 1);
    }
    .spanX (0) {}

    .span(@columns) {
      width: ((@gridColumnWidth) * @columns) + (@gridGutterWidth * (@columns - 1)) - 10;
    }

    input,
    textarea,
    .uneditable-input {
      margin-left: 0; // override margin-left from core grid system
    }

    // generate .spanX
    .spanX (@gridColumns);

  }
}*/
html {
  overflow-x: hidden;
}
#viadeocontainer {
  min-width: 0;
}
#viadeocontent {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 70px 0 0 0;
}
img {
  max-width: 100%;
}
.page-header .btn {
  float: right;
  margin-top: 10px;
}
.apps {
  zoom: 1;
}
.apps:before,
.apps:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.apps:after {
  clear: both;
}
.apps .illustration {
  float: left;
  width: 65%;
  margin: 0 5% 15px 0;
}
.apps div {
  float: left;
  width: 30%;
}
.apps dl {
  zoom: 1;
  margin-bottom: 30px;
}
.apps dl:before,
.apps dl:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.apps dl:after {
  clear: both;
}
.apps dl dt {
  width: 65%;
  float: left;
}
.apps dl dt .btn {
  display: block;
}
.apps dl dd {
  width: 35%;
  float: left;
  padding-top: 7px;
  text-align: right;
}
.apps .availability {
  display: none;
  margin-bottom: 15px;
}
.compatibility {
  display: none;
  margin-bottom: 15px;
}
.compatibility .btn {
  display: block;
}
.description {
  zoom: 1;
}
.description:before,
.description:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.description:after {
  clear: both;
}
.description li {
  float: left;
  width: 30%;
  margin-left: 5%;
}
.description li:first-child {
  margin-left: 0;
}
.description li img {
  margin-bottom: 10px;
}
.screenshots {
  zoom: 1;
  margin-bottom: 15px;
}
.screenshots:before,
.screenshots:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.screenshots:after {
  clear: both;
}
.screenshots li {
  zoom: 1;
  float: left;
  width: 47.5%;
  margin-left: 5%;
}
.screenshots li:before,
.screenshots li:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.screenshots li:after {
  clear: both;
}
.screenshots li:first-child {
  margin-left: 0;
}
.screenshots li img {
  float: left;
  width: 40%;
  margin-bottom: 10px;
}
.screenshots li div {
  float: left;
  width: 55%;
  margin-left: 5%;
}
.carousel {
  margin-bottom: 15px;
}
.download-or-skip {
  display: none;
}
.download-or-skip .download {
  display: block;
  margin-bottom: 10px;
}
.download-or-skip .skip {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.downloads {
  zoom: 1;
}
.downloads:before,
.downloads:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.downloads:after {
  clear: both;
}
.downloads li {
  float: left;
  width: 21.25%;
  margin-left: 5%;
}
.downloads li:first-child {
  margin-left: 0;
}
.downloads li .btn {
  display: block;
}
@media (max-width: 990px) {
  #viadeocontent {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
@media (max-width: 980px) {
  .download-link {
    display: none;
  }
  .apps dl {
    margin-bottom: 10px;
  }
  .apps dl dt {
    width: auto;
    float: none;
  }
  .apps dl dd {
    width: auto;
    float: none;
    text-align: center;
  }
}
@media (max-width: 780px) {
  .compatibility {
    display: block;
  }
  .apps .availability {
    display: block;
    clear: both;
  }
  .apps .apps-2 {
    float: none;
    width: auto;
  }
  .apps .apps-2 dl {
    float: left;
    width: 30%;
    margin-left: 5%;
  }
  .apps .apps-2 dl:first-child {
    margin-left: 0;
  }
  .screenshots li img {
    float: none;
    width: auto;
  }
  .screenshots li div {
    float: none;
    width: auto;
    margin-left: 0;
  }
}
@media (max-width: 640px) {
  .screenshots li {
    float: none;
    width: auto;
    margin-left: 0;
  }
  .screenshots li img {
    float: left;
    width: 40%;
  }
  .screenshots li div {
    float: left;
    width: 55%;
    margin-left: 5%;
  }
}
@media (max-width: 530px) {
  .description li {
    zoom: 1;
    float: none;
    width: auto;
    margin-left: 0;
  }
  .description li:before,
  .description li:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
  }
  .description li:after {
    clear: both;
  }
  .description li img {
    float: left;
    width: 30%;
  }
  .description li div {
    float: left;
    width: 65%;
    margin-left: 5%;
  }
  .page-header .download {
    display: none;
  }
  .download-or-skip {
    display: block;
  }
  .screenshots li img {
    display: none;
  }
  .screenshots li div {
    float: none;
    width: auto;
    margin-left: 0;
  }
  .downloads li {
    width: 47.5%;
  }
  .downloads li:nth-child(2n+1) {
    margin-left: 0;
  }
}
@media (max-width: 360px) {
  .apps .illustration {
    float: none;
    width: auto;
  }
  .apps .apps-1 {
    float: none;
    width: auto;
  }
  .apps .apps-1 dl {
    float: left;
    width: 47.5%;
    margin-left: 5%;
  }
  .apps .apps-1 dl:first-child {
    margin-left: 0;
  }
  .description li img {
    float: none;
    width: auto;
  }
  .description li div {
    float: none;
    width: auto;
    margin-left: 0;
  }
}
.carousel {
  width: 100%;
  position: relative;
}
.carousel .carousel-item {
  display: none;
}
.carousel .carousel-active {
  display: block;
}
.carousel .carousel-nav:nth-child(2) {
  display: none;
}
.carousel-slide {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-slide .carousel-item {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  /* necessary for non-active slides */

  display: block;
  /* overrides basic carousel styles */

  z-index: 1;
  -webkit-transition: left .2s ease;
  -moz-transition: left .2s ease;
  -ms-transition: left .2s ease;
  -o-transition: left .2s ease;
  transition: left .2s ease;
}
.carousel-no-transition .carousel-item {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.carousel-slide .carousel-active {
  left: 0;
  position: relative;
  z-index: 2;
}
.carousel-slide .carousel-in {
  left: 0;
}
.carousel-slide-reverse .carousel-out {
  left: 100%;
}
.carousel-slide .carousel-out,
.carousel-slide-reverse .carousel-item,
.carousel-slide-reverse .carousel-in {
  left: -100%;
}
.carousel-slide-reverse .carousel-active {
  left: 0;
}
.carousel .prev,
.carousel .next {
  position: absolute;
  z-index: 100;
  top: 50%;
  margin-top: -20px;
  visibility: hidden;
  font-size: 0;
  text-decoration: none;
}
.carousel .prev:after,
.carousel .next:after {
  padding: 10px;
  visibility: visible;
  font-size: 30px;
  color: #404040;
  font-weight: bold;
}
.carousel .prev {
  left: 0;
}
.carousel .prev:after {
  content: '‹';
}
.carousel .next {
  right: 0;
}
.carousel .next:after {
  content: '›';
}
.carousel .carousel-pagination {
  margin-top: 10px;
  text-align: center;
}
.carousel .carousel-pagination li {
  display: inline;
  margin: 0 5px;
}
.carousel .carousel-pagination li a {
  display: inline-block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  text-indent: 12px;
  border: 1px solid #808080;
  background: #ffffff;
  border-radius: 50%;
}
.carousel .carousel-pagination li.carousel-active-page a {
  background: #808080;
}
