@import "foundation_rtl.less";

// Override paths variables
@fonts-dir: '/tetra-ui/dist/fonts';
@img-sprite-dir: '/tetra-ui/dist/img/viadeo/';
@img-buttons-dir: '/tetra-ui/dist/img/buttons/';
@img-loaders-dir: '/tetra-ui/dist/img/loaders/';

@import "core.less";
@import "documentation.less";
