---
title: "Icons"
---

<div class="bx">

<div class="gr grsxl">
  <div class="page-header">
    <h1 class="h1">
      Icons
      <span class="sub">Tetra UI now has its own font!</span>
    </h1>
  </div>

  <h2 class="h2">Base icon font</h2>

  <div class="gu gu-1of5 gu-m-1of1">
    <p>The base font acts as a parallel solution to the global image sprite. The icon font really shines on mobile and HiDPI devices where it reveals all of its vector awesomeness.</p>
  </div>

  <div class="gu gu-last">
    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">m</i> Message <code class="language-markup">m</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">e</i> Visit <code class="language-markup">e</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">z</i> Search <code class="language-markup">z</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">c</i> Settings <code class="language-markup">c</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate" aria-hidden="true">o</i> Viadeo <code class="language-markup">o</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">t</i> Twitter <code class="language-markup">t</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">b</i> Bubbles <code class="language-markup">b</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">a</i> Add <code class="language-markup">a</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">p</i> Plus plus <code class="language-markup">p</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate" aria-hidden="true">×</i> Remove <code class="language-markup">×</code> / <code class="language-markup">&amp;times;</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">+</i> Plus <code class="language-markup">+</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">*</i> Star <code class="language-markup">*</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">r</i> Reload <code class="language-markup">r</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">s</i> Speech <code class="language-markup">s</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">f</i> Facebook <code class="language-markup">f</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">d</i> Date <code class="language-markup">d</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">g</i> Google+ <code class="language-markup">g</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">h</i> Phone <code class="language-markup">h</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">v</i> Check mark <code class="language-markup">v</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">w</i> Download <code class="language-markup">w</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">l</i> Like <code class="language-markup">l</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">‹</i> Prev <code class="language-markup">‹</code> / <code class="language-markup">&amp;lsaquo;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">›</i> Next <code class="language-markup">›</code> / <code class="language-markup">&amp;rsaquo;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">«</i> First <code class="language-markup">«</code> / <code class="language-markup">&amp;laquo;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">»</i> Last <code class="language-markup">»</code> / <code class="language-markup">&amp;raquo;</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">L</i> Location <code class="language-markup">L</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">∧</i> Up <code class="language-markup">∧</code> / <code class="language-markup">&amp;and;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">∨</i> Down <code class="language-markup">∨</code> / <code class="language-markup">&amp;or;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">↔</i> Select <code class="language-markup">↔</code> / <code class="language-markup">&amp;harr;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate" aria-hidden="true">j</i> Tianji <code class="language-markup">j</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">B</i> Bubble <code class="language-markup">B</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">E</i> Export <code class="language-markup">E</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">M</i> Degree <code class="language-markup">M</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">N</i> Degree <code class="language-markup">N</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate" aria-hidden="true">P</i> Photo <code class="language-markup">P</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">T</i> Tag <code class="language-markup">T</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">X</i> Experience <code class="language-markup">X</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">k</i> Recommand <code class="language-markup">k</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">O</i> Article <code class="language-markup">O</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate" aria-hidden="true">S</i> Profile <code class="language-markup">S</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">C</i> Company <code class="language-markup">C</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">F</i> Offer <code class="language-markup">F</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">G</i> Group <code class="language-markup">G</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">H</i> School <code class="language-markup">H</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate" aria-hidden="true">K</i> Book <code class="language-markup">K</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">?</i> Question <code class="language-markup">?</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">!</i> Blog <code class="language-markup">!</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">i</i> Request accepted <code class="language-markup">i</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&lt;</i> Left <code class="language-markup">&amp;lt;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate" aria-hidden="true">&gt;</i> Right <code class="language-markup">&amp;gt;</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">R</i> Share <code class="language-markup">R</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">Z</i> Archive <code class="language-markup">Z</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">x</i> Network <code class="language-markup">x</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">y</i> Edit <code class="language-markup">y</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate" aria-hidden="true">:</i> Information <code class="language-markup">:</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">;</i> Warning <code class="language-markup">;</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61473;</i> Day 1 <code class="language-markup">&amp;#61473;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61474;</i> Day 2 <code class="language-markup">&amp;#61474;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61475;</i> Day 3 <code class="language-markup">&amp;#61475;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61476;</i> Day 4 <code class="language-markup">&amp;#61476;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate" aria-hidden="true">&#61477;</i> Day 5 <code class="language-markup">&amp;#61477;</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61478;</i> Day 6 <code class="language-markup">&amp;#61478;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61479;</i> Day 7 <code class="language-markup">&amp;#61479;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61480;</i> Day 8 <code class="language-markup">&amp;#61480;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61481;</i> Day 9 <code class="language-markup">&amp;#61481;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate" aria-hidden="true">&#61482;</i> Day 10 <code class="language-markup">&amp;#61482;</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61483;</i> Day 11 <code class="language-markup">&amp;#61483;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61484;</i> Day 12 <code class="language-markup">&amp;#61484;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61485;</i> Day 13 <code class="language-markup">&amp;#61485;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61486;</i> Day 14 <code class="language-markup">&amp;#61486;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate" aria-hidden="true">&#61487;</i> Day 15 <code class="language-markup">&amp;#61487;</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61488;</i> Day 16 <code class="language-markup">&amp;#61488;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61489;</i> Day 17 <code class="language-markup">&amp;#61489;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61490;</i> Day 18 <code class="language-markup">&amp;#61490;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61491;</i> Day 19 <code class="language-markup">&amp;#61491;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate" aria-hidden="true">&#61492;</i> Day 20 <code class="language-markup">&amp;#61492;</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61493;</i> Day 21 <code class="language-markup">&amp;#61493;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61494;</i> Day 22 <code class="language-markup">&amp;#61494;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61495;</i> Day 23 <code class="language-markup">&amp;#61495;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61496;</i> Day 24 <code class="language-markup">&amp;#61496;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate" aria-hidden="true">&#61497;</i> Day 25 <code class="language-markup">&amp;#61497;</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61498;</i> Day 26 <code class="language-markup">&amp;#61498;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61499;</i> Day 27 <code class="language-markup">&amp;#61499;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61500;</i> Day 28 <code class="language-markup">&amp;#61500;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61501;</i> Day 29 <code class="language-markup">&amp;#61501;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate" aria-hidden="true">&#61502;</i> Day 30 <code class="language-markup">&amp;#61502;</code>
      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">
       <i class="vicon notranslate" aria-hidden="true">&#61503;</i> Day 31 <code class="language-markup">&amp;#61503;</code>
      </div>
    </div>

  </div>
</div>

<div class="gr grsxl mvl">
  <div class="gu gu-1of5 gu-m-1of1">
    <h2 class="h2">Code</h2>
    <p>All the styles, colors, sizes are defined by your CSS rules:
      no need to modify the global bitmap sprite everytime!</p>
  </div>
  <div class="gu gu-last">
    <pre><code class="language-markup">&lt;i class="vicon"&gt;c&lt;/i&gt;</code></pre>
    <p class="mts">This is the simple tag to display an icon, where <code class="language-markup">c</code> is the character (icon) you want to display. Then use your own styles on top of this.</p>

    <p>Preventing screen readers from reading icons:</p>
    <pre><code class="language-markup">&lt;i class="vicon" aria-hidden="true"&gt;c&lt;/i&gt;</code></pre>

    <p>Preventing Google Translate from translating icons:</p>
    <pre><code class="language-markup">&lt;i class="vicon notranslate"&gt;c&lt;/i&gt;</code></pre>
  </div>
</div>

<h2 class="h2">Samples</h2>

<div class="gr grsxl mtxl">
  <div class="gu gu-1of5 gu-m-1of1">
    <p>
      Some simple examples using the icon font. The icons can be used in a large variety of components.
    </p>
  </div>

  <div class="gu gu-last">
    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">

        <a class="btn btn-primary icon-sample-settings-btn">
          <i class="vicon notranslate" aria-hidden="true">c</i>
          Settings
        </a>

      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">

        <a class="btn btn-primary icon-sample-add-btn" title="Add">
          <i class="vicon notranslate" aria-hidden="true">+</i>
        </a>

      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">

        <a class="btn btn-default icon-sample-add-btn" title="Add">
          <i class="vicon notranslate" aria-hidden="true">+</i>
        </a>

      </div>
      <div>

        <a class="btn btn-twitter btn-small" title="Twitter">
          <i class="vicon notranslate" aria-hidden="true">t</i>
        </a>

      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">

        <span class="icon-sample-header">
          <i class="vicon notranslate" aria-hidden="true">m</i>
          Messages
        </span>

      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">

        <span class="icon-sample-header">
          <i class="vicon notranslate" aria-hidden="true">e</i>
          100 visits
        </span>

      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1 mbs">

        <span class="icon-sample-profile">
          <i class="vicon notranslate" aria-hidden="true">a</i>
          Contacts
        </span>

      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">

        <span class="icon-sample-profile">
          <i class="vicon notranslate" aria-hidden="true">b</i>
          Messages
        </span>

      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">

        <span class="icon-sample-profile">
          <i class="vicon notranslate" aria-hidden="true">p</i>
          Add more
        </span>

      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">

        <span class="icon-sample-profile">
          <i class="vicon notranslate" aria-hidden="true">s</i>
          Speech
        </span>

      </div>
      <div class="gu gu-1of5 gu-m-1of1 mbs">

        <span class="icon-sample-profile">
          <i class="vicon notranslate" aria-hidden="true">d</i>
          Date
        </span>

      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 restore-typography">

        <h2 class="icon-sample-premium">Premium <i class="vicon notranslate" aria-hidden="true">*</i></h2>

      </div>
    </div>
  </div>
</div>

</div>
