---
title: "Icons"
---

<div class="bx">

<div class="gr grsl">
  <div class="page-header">
    <h1 class="h1">
      Icons
      <span class="sub">Tetra UI now has its own font!</span>
    </h1>
  </div>

  <h2 class="h2">Base icon font</h2>

  <div class="gu gu-1of5 gu-m-1of1">
    <p>The base font acts as a parallel solution to the global image sprite. The icon font really shines on mobile and HiDPI devices where it reveals all of its vector awesomeness.</p>

    <h3 class="h3">Download</h3>

    <p>For desktop use you can download and install the OpenType font file:</p>
    <p>
      <a href="{{path}}/src/fonts/viadeoicons/viadeoicons.otf" class="btn btn-tertiary">Download Viadeoicons</a>
    </p>

    <h3 class="h3">Code</h3>
    <pre><code class="language-markup">&lt;i class="vicon"&gt;
  c
&lt;/i&gt;</code></pre>
    <p>This is the simple tag to display an icon, where <code class="language-markup">c</code> is the character (icon) you want to display. Then you can use your own styles on top of this.</p>
  </div>

  <div class="gu gu-last">
    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
        <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">m</i> Message<br/><code class="language-markup">m</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">e</i> Visit<br/><code class="language-markup">e</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">z</i> Search<br/><code class="language-markup">z</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">c</i> Settings<br/><code class="language-markup">c</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">o</i> Viadeo<br/><code class="language-markup">o</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">t</i> Twitter<br/><code class="language-markup">t</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">b</i> Bubbles<br/><code class="language-markup">b</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">a</i> Add<br/><code class="language-markup">a</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">p</i> Plus plus<br/><code class="language-markup">p</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">×</i> Remove<br/><code class="language-markup">×</code> <code class="language-markup">&amp;times;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">+</i> Plus<br/><code class="language-markup">+</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">*</i> Star<br/><code class="language-markup">*</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">r</i> Reload<br/><code class="language-markup">r</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">s</i> Speech<br/><code class="language-markup">s</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">f</i> Facebook<br/><code class="language-markup">f</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">d</i> Date<br/><code class="language-markup">d</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">g</i> Google+<br/><code class="language-markup">g</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">h</i> Phone<br/><code class="language-markup">h</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">v</i> Check mark<br/><code class="language-markup">v</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">w</i> Download<br/><code class="language-markup">w</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">l</i> Like<br/><code class="language-markup">l</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">‹</i> Prev<br/><code class="language-markup">‹</code> <code class="language-markup">&amp;lsaquo;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">›</i> Next<br/><code class="language-markup">›</code> <code class="language-markup">&amp;rsaquo;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">«</i> First<br/><code class="language-markup">«</code> <code class="language-markup">&amp;laquo;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">»</i> Last<br/><code class="language-markup">»</code> <code class="language-markup">&amp;raquo;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">L</i> Location<br/><code class="language-markup">L</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">∧</i> Up<br/><code class="language-markup">∧</code> <code class="language-markup">&amp;and;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">∨</i> Down<br/><code class="language-markup">∨</code> <code class="language-markup">&amp;or;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">↔</i> Select<br/><code class="language-markup">↔</code> <code class="language-markup">&amp;harr;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">j</i> Tianji<br/><code class="language-markup">j</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">B</i> Bubble<br/><code class="language-markup">B</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">E</i> Export<br/><code class="language-markup">E</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">M</i> Degree<br/><code class="language-markup">M</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">N</i> Degree<br/><code class="language-markup">N</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">P</i> Photo<br/><code class="language-markup">P</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">T</i> Tag<br/><code class="language-markup">T</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">X</i> Experience<br/><code class="language-markup">X</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">k</i> Recommand<br/><code class="language-markup">k</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">O</i> Article<br/><code class="language-markup">O</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">S</i> Profile<br/><code class="language-markup">S</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">C</i> Company<br/><code class="language-markup">C</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">F</i> Offer<br/><code class="language-markup">F</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">G</i> Group<br/><code class="language-markup">G</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">H</i> School<br/><code class="language-markup">H</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">K</i> Book<br/><code class="language-markup">K</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">?</i> Question<br/><code class="language-markup">?</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">!</i> Blog<br/><code class="language-markup">!</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">i</i> Request accepted<br/><code class="language-markup">i</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&lt;</i> Left<br/><code class="language-markup">&amp;lt;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&gt;</i> Right<br/><code class="language-markup">&amp;gt;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">R</i> Share<br/><code class="language-markup">R</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">Z</i> Archive<br/><code class="language-markup">Z</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">x</i> Network<br/><code class="language-markup">x</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">y</i> Edit<br/><code class="language-markup">y</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">:</i> Information<br/><code class="language-markup">:</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">;</i> Warning<br/><code class="language-markup">;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">ã</i> ApnaCircle<br/><code class="language-markup">ã</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">u</i> Upload<br/><code class="language-markup">u</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">n</i> Graph<br/><code class="language-markup">n</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#9662;</i> Down<br/><code class="language-markup">&amp;#9662;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&bull;</i> Bulb<br/><code class="language-markup">&amp;bull;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">/</i> Add search<br/><code class="language-markup">/</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&euro;</i> Euro<br/><code class="language-markup">&amp;euro;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&oplus;</i> Save<br/><code class="language-markup">&amp;oplus;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#8597;</i> Tie<br/><code class="language-markup">&amp;#8597;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#9745;</i> Saved<br/><code class="language-markup">&amp;#9745;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#9086;</i> Bell<br/><code class="language-markup">&amp;#9086;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#9111;</i> Contract<br/><code class="language-markup">&amp;#9111;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#9113;</i> Print<br/><code class="language-markup">&amp;#9113;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#8986;</i> Time<br/><code class="language-markup">&amp;#8986;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#9652;</i> Up<br/><code class="language-markup">&amp;#9652;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#8860;</i> Catalog<br/><code class="language-markup">&amp;#8860;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#10545;</i> Tools<br/><code class="language-markup">&amp;#10545;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#8857;</i> Target<br/><code class="language-markup">&amp;#8857;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#10717;</i> Visibility<br/><code class="language-markup">&amp;#10717;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#8692;</i> Stream<br/><code class="language-markup">&amp;#8692;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#9719;</i> Data<br/><code class="language-markup">&amp;#9719;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#10026;</i> Notification<br/><code class="language-markup">&amp;#10026;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#9655;</i> Media<br/><code class="language-markup">&amp;#9655;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#10707;</i> Trust<br/><code class="language-markup">&amp;#10707;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#9919;</i> Key<br/><code class="language-markup">&amp;#9919;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">$</i> Money<br/><code class="language-markup">$</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#10177;</i> Notification (alt)<br/><code class="language-markup">&amp;#10177;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61473;</i> Day 1<br/><code class="language-markup">&amp;#61473;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61474;</i> Day 2<br/><code class="language-markup">&amp;#61474;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61475;</i> Day 3<br/><code class="language-markup">&amp;#61475;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61476;</i> Day 4<br/><code class="language-markup">&amp;#61476;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61477;</i> Day 5<br/><code class="language-markup">&amp;#61477;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61478;</i> Day 6<br/><code class="language-markup">&amp;#61478;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61479;</i> Day 7<br/><code class="language-markup">&amp;#61479;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61480;</i> Day 8<br/><code class="language-markup">&amp;#61480;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61481;</i> Day 9<br/><code class="language-markup">&amp;#61481;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61482;</i> Day 10<br/><code class="language-markup">&amp;#61482;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61483;</i> Day 11<br/><code class="language-markup">&amp;#61483;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61484;</i> Day 12<br/><code class="language-markup">&amp;#61484;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61485;</i> Day 13<br/><code class="language-markup">&amp;#61485;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61486;</i> Day 14<br/><code class="language-markup">&amp;#61486;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61487;</i> Day 15<br/><code class="language-markup">&amp;#61487;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61488;</i> Day 16<br/><code class="language-markup">&amp;#61488;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61489;</i> Day 17<br/><code class="language-markup">&amp;#61489;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61490;</i> Day 18<br/><code class="language-markup">&amp;#61490;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61491;</i> Day 19<br/><code class="language-markup">&amp;#61491;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61492;</i> Day 20<br/><code class="language-markup">&amp;#61492;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61493;</i> Day 21<br/><code class="language-markup">&amp;#61493;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61494;</i> Day 22<br/><code class="language-markup">&amp;#61494;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61495;</i> Day 23<br/><code class="language-markup">&amp;#61495;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61496;</i> Day 24<br/><code class="language-markup">&amp;#61496;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61497;</i> Day 25<br/><code class="language-markup">&amp;#61497;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61498;</i> Day 26<br/><code class="language-markup">&amp;#61498;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61499;</i> Day 27<br/><code class="language-markup">&amp;#61499;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61500;</i> Day 28<br/><code class="language-markup">&amp;#61500;</code>
      </div>
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61501;</i> Day 29<br/><code class="language-markup">&amp;#61501;</code>
      </div>
      <div class="gu gu-last">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61502;</i> Day 30<br/><code class="language-markup">&amp;#61502;</code>
      </div>
    </div>

    <div class="gr">
      <div class="gu gu-1of5 gu-m-1of1">
       <i class="vicon notranslate fl mbxl mrs" aria-hidden="true">&#61503;</i> Day 31<br/><code class="language-markup">&amp;#61503;</code>
      </div>
    </div>

  </div>
</div>

<div class="gr grsxl mvl">
  <div class="gu gu-1of5 gu-m-1of1">
    <h2 class="h2">Code</h2>
    <p>All the styles, colors, sizes are defined by your CSS rules:
      no need to modify the global bitmap sprite everytime!</p>
  </div>
  <div class="gu gu-last">
    <pre><code class="language-markup">&lt;i class="vicon"&gt;c&lt;/i&gt;</code></pre>
    <p class="mts">This is the simple tag to display an icon, where <code class="language-markup">c</code> is the character (icon) you want to display. Then use your own styles on top of this.</p>

    <p>Preventing screen readers from reading icons:</p>
    <pre><code class="language-markup">&lt;i class="vicon" aria-hidden="true"&gt;c&lt;/i&gt;</code></pre>

    <p>Preventing Google Translate from translating icons:</p>
    <pre><code class="language-markup">&lt;i class="vicon notranslate"&gt;c&lt;/i&gt;</code></pre>
  </div>
</div>

<h2 class="h2">Samples</h2>

<div class="gr grsxl mtxl">
  <div class="gu gu-1of5 gu-m-1of1">
    <p>
      Some simple examples using the icon font. The icons can be used in a large variety of components.
    </p>
  </div>

  <div class="gu gu-last">
    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1">

        <a class="btn btn-primary icon-sample-settings-btn">
          <i class="vicon notranslate" aria-hidden="true">c</i>
          Settings
        </a>

      </div>
      <div class="gu gu-1of5 gu-m-1of1">

        <a class="btn btn-primary icon-sample-add-btn" title="Add">
          <i class="vicon notranslate" aria-hidden="true">+</i>
        </a>

      </div>
      <div class="gu gu-1of5 gu-m-1of1">

        <a class="btn btn-default icon-sample-add-btn" title="Add">
          <i class="vicon notranslate" aria-hidden="true">+</i>
        </a>

      </div>
      <div>

        <a class="btn btn-twitter btn-small" title="Twitter">
          <i class="vicon notranslate" aria-hidden="true">t</i>
        </a>

      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1">

        <span class="icon-sample-header">
          <i class="vicon notranslate" aria-hidden="true">m</i>
          Messages
        </span>

      </div>
      <div class="gu gu-1of5 gu-m-1of1">

        <span class="icon-sample-header">
          <i class="vicon notranslate" aria-hidden="true">e</i>
          100 visits
        </span>

      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 gu-m-1of1">

        <span class="icon-sample-profile">
          <i class="vicon notranslate" aria-hidden="true">a</i>
          Contacts
        </span>

      </div>
      <div class="gu gu-1of5 gu-m-1of1">

        <span class="icon-sample-profile">
          <i class="vicon notranslate" aria-hidden="true">b</i>
          Messages
        </span>

      </div>
      <div class="gu gu-1of5 gu-m-1of1">

        <span class="icon-sample-profile">
          <i class="vicon notranslate" aria-hidden="true">p</i>
          Add more
        </span>

      </div>
      <div class="gu gu-1of5 gu-m-1of1">

        <span class="icon-sample-profile">
          <i class="vicon notranslate" aria-hidden="true">s</i>
          Speech
        </span>

      </div>
      <div class="gu gu-1of5 gu-m-1of1">

        <span class="icon-sample-profile">
          <i class="vicon notranslate" aria-hidden="true">d</i>
          Date
        </span>

      </div>
    </div>

    <div class="gr mbl">
      <div class="gu gu-1of5 restore-typography">

        <h2 class="icon-sample-premium">Premium <i class="vicon notranslate" aria-hidden="true">*</i></h2>

      </div>
    </div>
  </div>
</div>

</div>
