---
title: "Right to left"
rtl: true
---

<div class="bx">

<div class="page-header">
    <h1 class="h1">Right to left
        <span class="sub">A special build of Tetra UI for right to left languages</span>
    </h1>
</div>

<h2 class="h2 mvl" id="grid">Right to left grid</h2>

<div class="gr grss gr-zebra">
    <div class="gu gu-1of5">1</div>
    <div class="gu gu-1of5">2</div>
    <div class="gu gu-1of5">3</div>
    <div class="gu gu-1of5">4</div>
    <div class="gu gu-last">5</div>
</div>
<div class="gr grss gr-zebra mts">
    <div class="gu gu-1of4">1</div>
    <div class="gu gu-1of4">2</div>
    <div class="gu gu-1of4">3</div>
    <div class="gu gu-last">4</div>
</div>
<div class="gr grss gr-zebra mts">
    <div class="gu gu-1of3">1</div>
    <div class="gu gu-1of3">2</div>
    <div class="gu gu-last">3</div>
</div>
<div class="gr grss gr-zebra mts">
    <div class="gu gu-1of2">1</div>
    <div class="gu gu-last">2</div>
</div>
<div class="gr grss gr-zebra mts">
    <div class="gu gu-1of1">1</div>
</div>


<div class="gr grsxl">
  <div class="gu gu-1of3 gu-m-1of2">
    <h2 class="h2 mvl" id="rich-containers">Rich containers</h2>

    <div class="rc rcss">
        <a href="#" class="img-left"><img src="http://placehold.it/70x70" width="70" height="70" /></a>
        <div class="bd">
            <p>تمتع القطط بمهارة كبيرة في الصيد والافتراس تقارب السنوريات الكبيرة كالنمر، إلا أنها لا تشكل خطراً حقيقياً على الإنسان نظراً لصغر حجمها. تزن القطة بين 4 و 7 كغ، وقليلا ما تصل إلى 1234567 Latin text كغ.</p>
        </div>
   </div>
   <div class="rc rcss mtl">
        <a href="#" class="img-right"><img src="http://placehold.it/70x70" width="70" height="70" /></a>
        <div class="bd">
            <p>اتمتع القطط بمهارة كبيرة في الصيد والافتراس تقارب السنوريات الكبيرة كالنمر، إلا أنها لا تشكل خطراً حقيقياً على الإنسان نظراً لصغر حجمها. تزن القطة بين 4 و 7 كغ، وقليلا ما تصل إلى 1234567 كغ.</p>
        </div>
   </div>
   <div class="rc rcsxl mtl">
        <a href="#" class="img-left"><img src="http://placehold.it/70x70" width="70" height="70" /></a>
        <div class="bd">
            <p>اتمتع القطط بمهارة كبيرة في الصيد والافتراس تقارب السنوريات الكبيرة كالنمر، إلا أنها لا تشكل خطراً حقيقياً على الإنسان نظراً لصغر حجمها. تزن القطة بين 4 و 7 كغ، وقليلا ما تصل إلى 1234567 كغ.</p>
        </div>
   </div>
  </div>

  <div class="gu gu-1of3 gu-m-last">
    <h2 class="h2 mvl" id="boxes">Boxes</h2>

    <div class="bx">
      <h2 class="h-bx">
        <a href="" class="h-bx-link tooltip tooltip-left">
          <i class="vicon">c</i>
          <span class="tooltip-content">تمتع القطط</span>
        </a>
        تمتع القطط
      </h2>
      تمتع القطط
    </div>

    <h2 class="h2 mvl" id="avatars">Avatars</h2>

    <ul>
      <li class="rc rcss mbm">
        <a href="">
          <div class="avatar img-left">
            <img src="{{path}}/release/img/avatars/avatar-m-45x60.png" />
          </div>
          <div class="bd">
            <p class="fn mbxs">تمتع القطط</p>
            <p class="title">تمتع القطط</p>
          </div>
        </a>
      </li>
      <li class="rc rcss mbm">
        <a href="">
          <div class="avatar img-left">
            <img src="{{path}}/release/img/avatars/avatar-w-45x60.png" />
          </div>
          <div class="bd">
            <p class="fn mbxs">تمتع القطط</p>
            <p class="title">تمتع القطط</p>
          </div>
        </a>
      </li>
      <li class="rc rcss mbm">
        <a href="">
          <div class="avatar img-left">
            <img src="{{path}}/release/img/avatars/avatar-n-45x60.png" />
          </div>
          <div class="bd">
            <p class="fn mbxs">تمتع القطط</p>
            <p class="title">تمتع القطط</p>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="gu gu-last gu-m-1of1">
    <h2 class="h2 mvl" id="alerts">Alert boxes</h2>

    <div class="bx-alert bx-alert-success mbl">
      <button class="bx-alert-close bootnode" data-comp="alert" data-event="click">
        <i class="vicon">×</i>
      </button>

      <i class="vicon bx-alert-icon">v</i>

      <div class="bx-alert-content">
        <h2 class="bx-alert-title">لقب</h2>
        <p class="mbxs">وفي بدفع الحربي، بـ. الامم بزوال التنازلي وتم في. أن لأداء.</p>
      </div>
    </div>

    <div class="bx-alert bx-alert-warning mbl">
      <button class="bx-alert-close bootnode" data-comp="alert" data-event="click">
        <i class="vicon">×</i>
      </button>

      <i class="vicon bx-alert-icon">:</i>

      <div class="bx-alert-content">
        <p class="tac mbxs">تتمتع القطط بمهارة كبيرة في الصيد والافتراس تقارب السنوريات الكبيرة كالنمر، إلا أنها لا تشكل خطراً حقيقياً على الإنسان نظراً لصغر حجمها.</p>
      </div>
    </div>

    <div class="bx-alert bx-alert-error mbl">
      <button class="bx-alert-close bootnode" data-comp="alert" data-event="click">
        <i class="vicon">×</i>
      </button>

      <i class="vicon bx-alert-icon">;</i>

      <div class="bx-alert-content">
        <p class="tac mbxs">وتتمتع القطط بمهارة كبيرة في الصيد والافتراس تقارب السنوريات الكبيرة كالنمر، إلا أنها لا تشكل خطراً حقيقياً على الإنسان نظراً لصغر حجمها.</p>
      </div>
    </div>
  </div>
</div>

<div class="gr grsxl">
  <div class="gu gu-1of3">
    <h2 class="h2 mvl" id="headings">Headings</h2>

    <div class="page-header">
      <h1>أنواع غير مهددة أو خطر انقراض ضعيف جدا <span class="sub">أنواع غير مهددة أو خطر انقراض ضعيف جدا</span></h1>
    </div>
    <h1>أنواع غير مهددة أو خطر انقراض ضعيف جدا</h1>
    <h2>أنواع غير مهددة أو خطر انقراض ضعيف جدا</h2>
    <h3>أنواع غير مهددة أو خطر انقراض ضعيف جدا</h3>
    <h4>أنواع غير مهددة أو خطر انقراض ضعيف جدا</h4>
    <h5>أنواع غير مهددة أو خطر انقراض ضعيف جدا</h5>
    <h6>أنواع غير مهددة أو خطر انقراض ضعيف جدا</h6>
  </div>

  <div class="gu gu-1of3">
    <h2 class="h2 mvl">Headings</h2>

    <h2 class="h-alt">أنواع غير مهددة أو خطر انقراض ضعيف جدا</h2>
    <h3 class="subh-alt">أنواع غير مهددة أو خطر انقراض ضعيف جدا</h3>
    <h3 class="subh-divider">أنواع غير مهددة أو خطر انقراض ضعيف جدا</h3>
  </div>

  <div class="gu gu-last">
    <h2 class="h2 mvl">Paragraphs</h2>

    <p>يعتقد بعض الباحثين أن القط المنزلي ينحدر مباشرة من القط البرّي الإفريقي الذي استأنسه المصريون، في عام 3500 ق.م تقريبًا. والقطط المستأنسة هي تلك التي تقتل الفئران والجرذان والثعابين ولذلك منعت هذه الآفات من غزو الحقول المصرية ومخازن الحبوب. وأصبحت القطط حيوانات أليفة مدللة وخُلِّدَت في اللوحات والنقوشات والنحت.</p>
    <p>وفي القرن السادس عشر قبل الميلاد قدّس المصريون القدماء القطط. فعبدوا إله الحب والخصوبة المسمى باستيت أو باست على هيئة رأس قط وجسم امرأة. وكان المصريون يعاقبون كل من يؤذي قطًا، بعقوبة تصل إلى حد الموت. وعندما يموت قط كانوا يحلقون حواجبهم علامة على الحداد ويحولون القطط الميتة إلى مومياوات. وقد وجد علماء الآثار مقبرة قديمة للقطط في مصر تحتوي على أكثر من 300,000 Latin text مومياء للقطط.</p>
  </div>
</div>

<div class="gr grsxl">
  <div class="gu gu-1of3">
    <h2 class="h2 mvl" id="panels">Panel</h2>
    <div class="panel mbl">أنواع غير مهددة أو خطر انقراض ضعيف جدا</div>
  </div>
  <div class="gu gu-1of3">
    <h2 class="h2 mvl">Divider before</h2>
    <div class="divider-before mbl">أنواع غير مهددة أو خطر انقراض ضعيف جدا</div>
  </div>
  <div class="gu gu-last">
    <h2 class="h2 mvl">Divider after</h2>
    <div class="divider-after">أنواع غير مهددة أو خطر انقراض ضعيف جدا</div>
  </div>
</div>

<div class="gr grsxl">
  <div class="gu gu-1of4">
    <h2 class="h2 mvl" id="badges">Badges</h2>
    <span class="ui-badge">1</span>
    <span class="ui-badge">123</span>
    <span class="ui-badge">1234</span>
  </div>
  <div class="gu gu-1of4">
    <h2 class="h2 mvl" id="labels">Labels</h2>
    <span class="ui-label"><a href="">القطط</a></span>
    <span class="ui-label"><a href="">القطط</a></span>
    <span class="ui-label"><a href="">القطط</a></span>
    <span class="ui-label"><a href="">القطط</a></span>
    <span class="ui-label"><a href="">القطط</a></span>
    <span class="ui-label"><a href="">القطط</a></span>
    <span class="ui-label"><a href="">القطط</a></span>
  </div>
  <div class="gu gu-1of4">
    <h2 class="h2 mvl">Labels</h2>
    <span class="ui-label">
      <a href="">القطط</a>
      <a href=""><i class="vicon">&times;</i></a>
    </span>
    <span class="ui-label">
      <a href="">القطط</a>
      <a href=""><i class="vicon">&times;</i></a>
    </span>
    <span class="ui-label">
      <a href="">القطط</a>
      <a href=""><i class="vicon">&times;</i></a>
    </span>
    <span class="ui-label">
      <a href="">القطط</a>
      <a href=""><i class="vicon">&times;</i></a>
    </span>
    <span class="ui-label">
      <a href="">القطط</a>
      <a href=""><i class="vicon">&times;</i></a>
    </span>
    <span class="ui-label">
      <a href="">القطط</a>
      <a href=""><i class="vicon">&times;</i></a>
    </span>
  </div>
  <div class="gu gu-last">
    <h2 class="h2 mvl" id="tags">Tags</h2>
    <span class="ui-tag">القطط <a href="" class="remove"><i class="vicon">&times;</i></a></span>
    <span class="ui-tag">القطط <a href="" class="remove"><i class="vicon">&times;</i></a></span>
    <span class="ui-tag">القطط <a href="" class="remove"><i class="vicon">&times;</i></a></span>
    <span class="ui-tag">القطط <a href="" class="remove"><i class="vicon">&times;</i></a></span>
  </div>
</div>

<h2 class="h2 mvl" id="lists">Lists</h2>

<div class="gr grsxl">
  <div class="gu gu-1of3">
    <ul class="link-list">
      <li><a href="">القط في التاريخ والميثولوجيا</a></li>
      <li><a href="">القط في التاريخ والميثولوجيا</a></li>
      <li><a href="">القط في التاريخ والميثولوجيا</a></li>
    </ul>
  </div>
  <div class="gu gu-1of3">
    <ul class="list-square">
      <li>القط في التاريخ والميثولوجيا</li>
      <li>القط في التاريخ والميثولوجيا</li>
      <li>القط في التاريخ والميثولوجيا</li>
    </ul>
  </div>
  <div class="gu gu-last">
    <ul class="list-disc">
      <li>القط في التاريخ والميثولوجيا</li>
      <li>القط في التاريخ والميثولوجيا</li>
      <li>القط في التاريخ والميثولوجيا</li>
    </ul>
  </div>
</div>

<h2 class="h2 mvl" id="nav-steps">Navigation with steps</h2>

<div class="gr grsxl">
  <div class="gu gu-last">

    <dl class="gr nav-steps mbl">
      <dt class="gu gu-1of3">
        <i class="vicon">o</i>
        <h2 class="nav-steps-title">
          <small>القط في التاريخ والميثولوجيا</small>
          القطة عند المصريين القدماء
        </h2>
      </dt>
      <dd class="gu gu-last">
        <ol class="gr">
          <li class="gu gu-1of2">
            <b class="nav-steps-item">1</b>
            <span class="nav-steps-text">وفي القرن السادس عشر قبل الميلاد قدّس المصريون القدماء القطط.</span>
          </li>
          <li class="gu gu-last nav-steps-todo">
            <b class="nav-steps-item">2</b>
            <span class="nav-steps-text">وفي القرن السادس عشر قبل الميلاد قدّس المصريون القدماء القطط.</span>
          </li>
        </ol>
      </dd>
    </dl>

    <dl class="gr nav-steps mbl">
      <dd class="gu gu-1of1">
        <ol class="gr">
          <li class="gu gu-1of4 nav-steps-done">
            <a href="">
              <b class="nav-steps-item"><i class="vicon">v</i></b>
              <span class="nav-steps-text">وفي القرن السادس عشر قبل الميلاد قدّس المصريون القدماء القطط.</span>
            </a>
          </li>
          <li class="gu gu-1of4 nav-steps-done">
            <a href="">
              <b class="nav-steps-item"><i class="vicon">v</i></b>
              <span class="nav-steps-text">وفي القرن السادس عشر قبل الميلاد قدّس المصريون القدماء القطط.</span>
            </a>
          </li>
          <li class="gu gu-1of4 nav-steps-todo">
            <b class="nav-steps-item">3</b>
            <span class="nav-steps-text">وفي القرن السادس عشر قبل الميلاد قدّس المصريون القدماء القطط.</span>
          </li>
          <li class="gu gu-last nav-steps-todo">
            <b class="nav-steps-item">4</b>
            <span class="nav-steps-text">وفي القرن السادس عشر قبل الميلاد قدّس المصريون القدماء القطط.</span>
          </li>
        </ol>
      </dd>
    </dl>

  </div>
</div>

<div class="gr grsxl mvxl">
  <div class="gu gu-1of4">
    <h2 class="h2" id="dropdowns">Dropdowns</h2>
  </div>
  <div class="gu gu-1of4">
    <div class="dd">
       <a class="dd-btn bootnode btn btn-default" data-event="click" data-comp="dropdown">أنواع غير مهددة <i class="vicon">∨</i></a>
       <ul class="dd-menu no-prevent">
           <li class="dd-item"><a href="">أنواع غير مهددة أو خطر انقراض ضعيف جدا</a></li>
           <li class="dd-item"><a href="">أنواع غير مهددة أو خطر انقراض ضعيف جدا</a></li>
           <li class="dd-item"><a href="">أنواع غير مهددة أو خطر انقراض ضعيف جدا</a></li>
       </ul>
    </div>
  </div>
  <div class="gu gu-1of4">
    <div class="dd pull-right">
       <a class="dd-btn bootnode btn btn-default" data-event="click" data-comp="dropdown">أنواع غير مهددة <i class="vicon">∨</i></a>
       <ul class="dd-menu">
           <li class="dd-item"><a href="">أنواع غير مهددة أو خطر انقراض ضعيف جدا</a></li>
           <li class="dd-item"><a href="">أنواع غير مهددة أو خطر انقراض ضعيف جدا</a></li>
           <li class="dd-item"><a href="">أنواع غير مهددة أو خطر انقراض ضعيف جدا</a></li>
       </ul>
    </div>
  </div>
</div>

<div class="gr grsxl mvxl">
  <div class="gu gu-1of4">
    <h2 class="h2" id="forms">Basic form</h2>
  </div>
  <div class="gu gu-last">
    <form class="core-form well">
      <label>تسمية اسم</label>
      <input type="text" class="span3" placeholder="اكتب شيئا ..." /> <span class="help-inline">نص تعليمات المرتبطة</span>
      <p class="help-block">منع مستوى نص التعليمات</p>
      <label class="checkbox">
        <input type="checkbox" /> مربع
      </label>
      <button type="submit" class="btn btn-default">عرض</button>
    </form>
  </div>
</div>

<div class="gr grsxl mvxl">
  <div class="gu gu-1of4">
    <h2 class="h2">Search form</h2>
  </div>
  <div class="gu gu-last">
    <form class="core-form well form-search">
      <input type="text" class="input-medium search-query" />
      <button type="submit" class="btn btn-default">البحث</button>
    </form>
  </div>
</div>

<div class="gr grsxl mvxl">
  <div class="gu gu-1of4">
    <h2 class="h2">Inline form</h2>
  </div>
  <div class="gu gu-last">
    <form class="core-form well form-inline">
      <input type="text" class="input-small" placeholder="البريد الإلكتروني" />
      <input type="password" class="input-small" placeholder="كلمة السر" />
      <label class="checkbox">
        <input type="checkbox" /> تذكرني
      </label>
      <button type="submit" class="btn btn-default">تسجيل الدخول</button>
    </form>
  </div>
</div>

<div class="gr grsxl mvxl">
  <div class="gu gu-1of4">
    <h2 class="h2">Form elements</h2>
  </div>
  <div class="gu gu-last">
    <form class="core-form form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="input-1">إدخال النص</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="input-1" />
            <p class="help-block">أي إدخال النص القائم على ظهور مثل ذلك.</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input-2">إدخال النص</label>
          <div class="controls">
            <div class="input-append">
              <input type="text" class="input-xlarge" id="input-2" /><button class="btn btn-default" type="button">إدخال النص</button>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input-3">إدخال النص</label>
          <div class="controls">
            <div class="input-append">
              <input type="text" class="input-xlarge" id="input-3" /><button class="btn btn-primary" type="button">إدخال النص</button>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input-4">إدخال النص</label>
          <div class="controls">
            <div class="input-append">
              <input type="text" class="input-xlarge" id="input-4" /><button class="btn btn-tertiary" type="button">إدخال النص</button>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">إدخال النص</label>
          <div class="controls">
            <div class="input-append">
              <input type="text" class="input-xlarge" /><span class="custom-select input-small">
                <label>إدخال النص</label>
                <i class="vicon">&#9662;</i>
                <select>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </span>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="optionsCheckbox">مربع</label>
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" id="optionsCheckbox" value="option1" />
              خيار واحد هو هذا وذاك، تأكد من تضمين لماذا انه لشيء رائع
            </label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="select01">حدد قائمة</label>
          <div class="controls">
            <select id="select01">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="multiSelect">حدد مربع متعددة</label>
          <div class="controls">
            <select multiple="multiple" id="multiSelect">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="fileInput">ملف الإدخال</label>
          <div class="controls">
            <input class="input-file" id="fileInput" type="file" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="textarea">ناحية النص</label>
          <div class="controls">
            <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
          </div>
        </div>
        <div class="form-actions ptm">
          <button type="submit" class="btn btn-secondary">حفظ التغييرات</button>
          <button class="btn btn-default">إلغاء</button>
        </div>
      </fieldset>
    </form>

    <form class="core-form mbxl">
      <div class="control-group error">
        <div class="controls">
          <span class="placeholding field-helper">
            <input class="input-xlarge" type="text" />
            <label class="placeholder">خطأ على إدخال النص</label>
            <span class="error-inline">يرجى كتابة عنوان بريد إلكتروني صالح</span>
          </span>
        </div>
      </div>

      <div class="control-group error">
        <div class="controls">
          <span class="placeholding field-helper field-helper-right">
            <input class="input-xlarge" type="text" />
            <label class="placeholder">خطأ على إدخال النص</label>
            <span class="error-inline">يرجى كتابة عنوان بريد إلكتروني صالح</span>
          </span>
        </div>
      </div>

      <div class="control-group error">
        <div class="controls">
          <span class="placeholding field-helper">
            <input class="input-xlarge" type="password" />
            <label class="placeholder">خطأ على إدخال كلمة السر</label>
            <span class="error-inline">يرجى كتابة كلمة السر الصحيحة</span>
          </span>
        </div>
      </div>

      <div class="control-group error">
        <div class="controls">
          <span class="placeholding field-helper field-helper-bottom">
            <input class="input-xlarge" type="text" />
            <label class="placeholder">خطأ على إدخال النص</label>
            <span class="error-inline">يرجى كتابة عنوان بريد إلكتروني صالح</span>
          </span>
        </div>
      </div>
    </form>

  </div>
</div>

</div>

<script src="{{path}}/release/js/placeholder.js"></script>
