---
title: "Variables"
---

<div class="bx">

<div class="section" id="section-variables">
  <div class="page-header">
    <h1 class="h1">
      Variables
      <span class="sub">Visual identity &amp; branding colors</span>
    </h1>
  </div>
  <div class="gr grsm">
    <div class="gu gu-1of4 gu-m-1of1">
      <h3 class="h3" id="layout-spacing">Layout &amp; Spacing</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Variable</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code class="language-css">@siteWidth</code></td>
            <td>980px</td>
          </tr>
          <tr>
            <td><code class="language-css">@spacingXs</code></td>
            <td>5px</td>
          </tr>
          <tr>
            <td><code class="language-css">@spacingS</code></td>
            <td>10px</td>
          </tr>
          <tr>
            <td><code class="language-css">@spacingM</code></td>
            <td>15px</td>
          </tr>
          <tr>
            <td><code class="language-css">@spacingL</code></td>
            <td>20px</td>
          </tr>
          <tr>
            <td><code class="language-css">@spacingXl</code></td>
            <td>30px</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="gu gu-1of4 gu-m-1of1">
       <h3 class="h3" id="grayscale">Grayscale</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Variable</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code class="language-css">@black</code></td>
            <td>
              <span class="var var-black tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <code class="language-css">@grayDark</code>
              <code class="color-transform">lighten(@black, 25%)</code>
            </td>
            <td>
              <span class="var var-gray-dark tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <code class="language-css">@gray</code>
              <code class="color-transform">lighten(@black, 50%)</code>
            </td>
            <td>
              <span class="var var-gray tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <code class="language-css">@grayLight</code>
              <code class="color-transform">lighten(@black, 75%)</code>
            </td>
            <td>
              <span class="var var-gray-light tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <code class="language-css">@grayLighter</code>
              <code class="color-transform">lighten(@black, 90%)</code>
            </td>
            <td>
              <span class="var var-gray-lighter tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td><code class="language-css">@white</code></td>
            <td>
              <span class="var var-white tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td><code class="language-css">@page-bg</code></td>
            <td>
              <span class="var var-page-bg tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="gu gu-1of4 gu-m-1of1">
       <h3 class="h3" id="colors">Colors</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Variable</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code class="language-css">@green</code></td>
            <td>
              <span class="var var-green tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td><code class="language-css">@yellow</code></td>
            <td>
              <span class="var var-yellow tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td><code class="language-css">@orange</code></td>
            <td>
              <span class="var var-orange tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td><code class="language-css">@blueSoft</code></td>
            <td>
              <span class="var var-blue-soft tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td><code class="language-css">@blueBright</code></td>
            <td>
              <span class="var var-blue-bright tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td><code class="language-css">@highlightColor</code></td>
            <td>
              <span class="var var-highlight tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <code class="language-css">@linkColor</code>
              <code class="color-transform">@blue</code>
            </td>
            <td>
              <span class="var var-link tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <code class="language-css">@linkColorHover</code>
              <code class="color-transform">shade(@linkColor, 10%)</code>
            </td>
            <td>
              <span class="var var-link-hover tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <code class="language-css">@errorText</code>
            </td>
            <td>
              <span class="var var-error-text tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="gu gu-last">
      <h3 class="h3" id="typo-border-radius">Typo &amp; Border Radius</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Variable</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code class="language-css">@baseFontSize</code></td>
            <td>12px</td>
          </tr>
          <tr>
            <td><code class="language-css">@baseFontColor</code></td>
            <td>
              <span class="var var-base-font-color tooltip">
                <span class="tooltip-content"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td><code class="language-css">@baseLineHeight</code></td>
            <td>1.4em</td>
          </tr>
          <tr>
            <td><code class="language-css">@borderRadiusS</code></td>
            <td>3px</td>
          </tr>
          <tr>
            <td><code class="language-css">@borderRadiusM</code></td>
            <td>5px</td>
          </tr>
          <tr>
            <td><code class="language-css">@borderRadiusL</code></td>
            <td>10px</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>

<div class="bx">
  <h2 class="h2 mbl">Extended palette</h2>

  <div class="gr">

    <div class="gu gu-1of4">
      <ol class="palette">
        <li class="orange-1"></li>
        <li class="orange-2"></li>
        <li class="orange-3"></li>
        <li class="orange-4"></li>
      </ol>
    </div>

    <div class="gu gu-1of4">
      <ol class="palette">
        <li class="green-1"></li>
        <li class="green-2"></li>
        <li class="green-3"></li>
        <li class="green-4"></li>
      </ol>
    </div>

    <div class="gu gu-1of4">
      <ol class="palette">
        <li class="blue-1"></li>
        <li class="blue-2"></li>
        <li class="blue-3"></li>
        <li class="blue-4"></li>
        <li class="blue-5"></li>
      </ol>
    </div>

    <div class="gu gu-last">
      <ol class="palette">
        <li class="purple-1"></li>
        <li class="purple-2"></li>
      </ol>
    </div>

  </div>
</div>

<div class="bx">
  <h2 class="h2" id="tints-shades">Using tints and shades with LESS</h2>

  <div class="gr grsm">
    <div class="gu gu-1of3 gu-m-1of1">
      <table class="table" id="tint">
      <tbody>
        <tr>
          <th>
            <code class="language-css">tint(@blueSoft, 0%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-tint-0 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">tint(@blueSoft, 10%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-tint-10 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">tint(@blueSoft, 20%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-tint-20 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">tint(@blueSoft, 30%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-tint-30 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">tint(@blueSoft, 40%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-tint-40 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">tint(@blueSoft, 50%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-tint-50 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">tint(@blueSoft, 60%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-tint-60 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">tint(@blueSoft, 70%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-tint-70 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">tint(@blueSoft, 80%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-tint-80 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">tint(@blueSoft, 90%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-tint-90 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">tint(@blueSoft, 100%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-tint-100 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
      </tbody>
      </table>
    </div>

    <div class="gu gu-1of3 gu-m-1of1">
      <table class="table" id="shade">
      <tbody>
        <tr>
          <th>
            <code class="language-css">shade(@blueSoft, 0%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-shade-0 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">shade(@blueSoft, 10%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-shade-10 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">shade(@blueSoft, 20%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-shade-20 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">shade(@blueSoft, 30%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-shade-30 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">shade(@blueSoft, 40%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-shade-40 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">shade(@blueSoft, 50%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-shade-50 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">shade(@blueSoft, 60%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-shade-60 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">shade(@blueSoft, 70%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-shade-70 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">shade(@blueSoft, 80%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-shade-80 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">shade(@blueSoft, 90%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-shade-90 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
        <tr>
          <th>
            <code class="language-css">shade(@blueSoft, 100%)</code>
          </th>
          <td>
            <span class="var var-blue-soft-shade-100 tooltip">
              <span class="tooltip-content"></span>
            </span>
          </td>
        </tr>
      </tbody>
      </table>
    </div>

    <div class="gu gu-last">
      <table class="table" id="sample-tints-shades">
          <thead>
            <tr>
              <th>Variable</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <code class="language-css">@borderColor</code>
                <code class="color-transform">tint(@blueSoft, 63%)</code>
              </td>
              <td>
                <span class="var var-border-color tooltip">
                  <span class="tooltip-content"></span>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <code class="language-css">@panelBackground</code>
                <code class="color-transform">tint(@blueSoft, 92%)</code>
              </td>
              <td>
                <span class="var var-panel-background tooltip">
                  <span class="tooltip-content"></span>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <code class="language-css">@panelBorder</code>
                <code class="color-transform">tint(@blueSoft, 78%)</code>
              </td>
              <td>
                <span class="var var-panel-border tooltip">
                  <span class="tooltip-content"></span>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <code class="language-css">@panelBorderDarker</code>
                <code class="color-transform">tint(@blueSoft, 42%)</code>
              </td>
              <td>
                <span class="var var-panel-border-darker tooltip">
                  <span class="tooltip-content"></span>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <code class="language-css">@overlayBorder</code>
                <code class="color-transform">shade(@blueSoft, 70%)</code>
              </td>
              <td>
                <span class="var var-overlay-border tooltip">
                  <span class="tooltip-content"></span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

</div>
