<div class="gu-1of3 gu-m-1of1">
  <div class="bx">
    <div class="bx-aside">
      <h2 class="h-bx">Box aside</h2>
      <ul class="list-bx">
        <li>
          <dl>
            <dt><a href="">Lorem ipsum dolor sit amet</a></dt>
            <dd>Consectetur adipisicing elit</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="">Sed do eiusmod tempor incididunt</a></dt>
            <dd>Ut labore et dolore magna aliqua</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><a href="">Ut enim ad minim veniam</a></dt>
            <dd>Quis nostrud exercitation</dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<div class="bx">
  <div class="bx-aside">
    <h2 class="h-bx">Box aside</h2>
    <ul class="list-bx">
      <li>
        <dl>
          <dt><a href="">Lorem ipsum dolor sit amet</a></dt>
          <dd>Consectetur adipisicing elit</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt><a href="">Sed do eiusmod tempor incididunt</a></dt>
          <dd>Ut labore et dolore magna aliqua</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt><a href="">Ut enim ad minim veniam</a></dt>
          <dd>Quis nostrud exercitation</dd>
        </dl>
      </li>
    </ul>
  </div>
</div>
```
{{/markdown}}

{{> copy-code}}
</div>
