<div class="gr grsxl">
  <div class="gu gu-1of3 gu-m-1of1">

    <div class="bx">
      <h2 class="h-bx">
      <a class="h-bx-link tooltip tooltip-left" href="">
        <i class="vicon">c</i>
        <span class="tooltip-content">Settings</span>
      </a>
      Box title
      </h2>
      Box content
    </div>

  </div>
  <div class="gu gu-1of3 gu-m-1of1">

    <div class="bx">
      <h2 class="h-bx uppercase">
      <a class="h-bx-link tooltip tooltip-left" href="">
        <i class="vicon">c</i>
        <span class="tooltip-content">Settings</span>
      </a>
      Box title <small>with subtitle</small>
      </h2>
      Box content
    </div>

  </div>
  <div class="gu gu-last">

    <div class="bx">
      <h2 class="h-bx h-bx-main">
      <a class="h-bx-link tooltip tooltip-left" href="">
        <i class="vicon">c</i>
        <span class="tooltip-content">Settings</span>
      </a>
      Box title main
      </h2>
      Box content
    </div>

  </div>
</div>

<div class="gr grsxl">
  <div class="gu gu-1of3 gu-m-1of1">

    <div class="bx">
      <button data-event="click" data-comp="alert" class="bx-close bootnode" type="button">
        <i class="vicon">×</i>
      </button>
      Box with close button
    </div>

  </div>
  <div class="gu gu-1of3 gu-m-1of1">

    <div class="bx bx-default mbm">
      <h2>Box default</h2>
      Box content
    </div>

  </div>
  <div class="gu gu-last">

    <div class="bx bx-empty">
      <h2 class="h-bx">Box empty</h2>
      Box content
    </div>

  </div>
</div>
