<div class="gu-1of3 gu-m-1of1">
  <div class="plxl">
    <div class="bx">
      <h2 class="h-bx h-bx-main">Box title main</h2>
      <div class="bx-editable">
        <ul class="bx-edit-btn">
          <li>
            <a class="bx-edit">
              <i class="vicon">y</i>
              <span>Modify</span>
            </a>
          </li>
          <li>
            <a class="bx-edit bx-edit-rm">
              <i class="vicon">×</i>
              <span>Remove</span>
            </a>
          </li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
  </div>
</div>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<div class="bx">
  <h2 class="h-bx h-bx-main">Box title main</h2>
  <div class="bx-editable">
    <ul class="bx-edit-btn">
      <li>
        <a class="bx-edit">
          <i class="vicon">y</i>
          <span>Modify</span>
        </a>
      </li>
      <li>
        <a class="bx-edit bx-edit-rm">
          <i class="vicon">×</i>
          <span>Remove</span>
        </a>
      </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
</div>
```
{{/markdown}}

{{> copy-code}}
</div>
