pre.highlighted {
  margin: .5em 0;

  code {
    display: block;
    padding: 0.5em;
    background: #f5f2f0;
    white-space: pre-wrap;

    .comment {
        color: #708090;
    }

    &.xml {
      .tag {
        color: lighten(@black, 50%);

        .title {
          color: @orange-2;
        }

        .attribute {
          color: @green-1;
        }

        .value {
          color: @blue-2;
        }
      }
    }

    &.javascript {
      .string {
        color: #690;
      }

      .literal {
        color: #905;
      }
    }

  }
}

