{{#markdown}}
A rich container supports one of the most common layout patterns on Viadeo, in which there is an image (usually aligned left) and a block of text. This allows us to avoid using fixed widths on floated elements when implementing this pattern.
{{/markdown}}

<table class="table table-text table-hover">
  <thead>
    <tr>
      <th>Class</th>
      <th>Alignment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class=" language-css">.img-left</code></td>
      <td>The image will be left aligned. Note that you can still use the old <code class=" language-css">.img</code> class but it will be deprecated in the future.</td>
    </tr>
    <tr>
      <td><code class=" language-css">.img-right</code></td>
      <td>The image will be right aligned. The previous <code class=" language-css">.imgRight</code> class name is still supported but will be deprecated in the future.</td>
    </tr>
  </tbody>
</table>

{{#markdown}}
```html
<div class="rc">
  <a href="#" class="img-left">
  <img src="..." />
  </a>
  <div class="bd">
  ...
  </div>
</div>
```
{{/markdown}}
