{{#markdown}}
The spacing between the image and text in rich containers can be specified by adding a class name to the **.rc** element, and the alignment by adding a class to the **.img** element.
{{/markdown}}

<table class="table table-text table-hover">
        <thead>
          <tr>
            <th>Class</th>
            <th>Spacing</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code class=" language-css">.rcsxs</code></td>
            <td>Value defined as <code class=" language-css">@spacingXs</code></td>
          </tr>
          <tr>
            <td><code class=" language-css">.rcss</code></td>
            <td>Value defined as <code class=" language-css">@spacingS</code></td>
          </tr>
          <tr>
            <td><code class=" language-css">.rcsm</code></td>
            <td>Value defined as <code class=" language-css">@spacingM</code></td>
          </tr>
          <tr>
            <td><code class=" language-css">.rcsl</code></td>
            <td>Value defined as <code class=" language-css">@spacingL</code></td>
          </tr>
          <tr>
            <td><code class=" language-css">.rcsxl</code></td>
            <td>Value defined as <code class=" language-css">@spacingXl</code></td>
          </tr>
        </tbody>
      </table>

