<p>From standard basic links to more specific links.</p>

<p class="mbn">
  <a href="">Standard default links</a><br />
  <a class="lnk-title" href="">Links in titles or headers</a><br />
  <a class="lnk-text" href="">Links with text style</a>
</a>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<p>
  <a href="">Standard default links</a><br />
  <a class="lnk-title" href="">Links in titles or headers</a><br />
  <a class="lnk-text" href="">Links with text style</a>
</a>
```
{{/markdown}}

{{> copy-code}}
</div>
