<ul class="link-list mbl">
  <li><a>Lorem ipsum dolor sit amet</a></li>
  <li><a>Consectetur adipisicing elit</a></li>
  <li><a>Sed do eiusmod tempor incididunt ut labore</a></li>
</ul>

<ul class="list-square mbl">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipisicing elit</li>
  <li>Sed do eiusmod tempor incididunt ut labore</li>
</ul>

<ul class="list-disc">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipisicing elit</li>
  <li>Sed do eiusmod tempor incididunt ut labore</li>
</ul>


<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<ul class="link-list mbl">
  <li><a>Lorem ipsum dolor sit amet</a></li>
  <li><a>Consectetur adipisicing elit</a></li>
  <li><a>Sed do eiusmod tempor incididunt ut labore</a></li>
</ul>

<ul class="list-square mbl">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipisicing elit</li>
  <li>Sed do eiusmod tempor incididunt ut labore</li>
</ul>

<ul class="list-disc">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipisicing elit</li>
  <li>Sed do eiusmod tempor incididunt ut labore</li>
</ul>
```
{{/markdown}}

{{> copy-code}}
</div>
