<p>A panel is a simple helpful CSS class that enables to easily outline sections of the page.</p>

<div class="bx">

  <div class="panel mbs">
    <h3 class="mbn">A Panel</h3>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit<p/>

  <div class="panel">
    <h3 class="mbn">Another Panel</h3>
  </div>
  <div class="divider-before mbs">Divider before</div>
  <div class="divider-after mbs">Divider after</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit<p/>

</div>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<div class="panel mbs">
  <h3 class="mbn">A Panel</h3>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit<p/>

<div class="panel">
  <h3 class="mbn">Another Panel</h3>
</div>
<div class="divider-before mbs">Divider before</div>
<div class="divider-after mbs">Divider after</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit<p/></div>
```
{{/markdown}}

{{> copy-code}}
</div>
