<div class="bx-alert bx-alert-{{type}} mbl">
  <button data-event="click" data-comp="alert" class="bx-alert-close bootnode">
    <i class="vicon">×</i>
  </button>

  <i class="vicon bx-alert-icon">:</i>

  <div class="bx-alert-content">
    <p class="mbn">Error Message...</p>
  </div>
</div>
