<nav class="nav-doc">
  <ul>
    {{#each pages}}
      {{#is data.tag 'nav-doc'}}
        <li class="dispi prm mrm {{#is basename ../../tab}}active{{/is}}">
          <a href="{{../../site.path}}/doc/{{basename}}.html">
            {{data.title}}
          </a>
        </li >
      {{/is}}
    {{/each}}
  </ul>
</nav>
