<ul class="nav nav-menu">
  <li{{#is title "Elements"}} class="active"{{/is}}>
    <a href="{{path}}/index.html">Elements</a>
  </li>
  <li{{#is title "Grid"}} class="active"{{/is}}>
    <a href="{{path}}/doc/rich-containers.html">Grid & response design</a>
  </li>
  <li{{#is title "Right to left"}} class="active"{{/is}}>
    <a href="{{path}}/doc/typography.html">Right to left</a>
  </li>
  <li{{#is title "Helpers"}} class="active"{{/is}}>
    <a href="{{path}}/doc/forms.html">Helpers</a>
  </li>
</ul>
