<div class="sidebar">

  <h1 class="logo tac plxl prxl mbn">
    <img src="{{site.assets}}/img/{{site.slug}}/{{site.slug}}-doc-hd.png" alt="{{site.name}}" class="fluid-media vam"/>
  </h1>

  <nav class='sidebar-nav' data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    {{> sidebar-doc-nav nav}}
  </nav>

</div>

