<div class="toggle-code dispib">
  <a class='show'>
    show code
    <i aria-hidden="true" class="vicon mrn">&lt;</i><i aria-hidden="true" class="vicon mrn last">&gt;</i>
  </a>
  <a class='hide'>
    hide code
    <i aria-hidden="true" class="vicon mrn">&lt;</i><i aria-hidden="true" class="vicon mrn last">&gt;</i>
  </a>
</div>
