<span class="toggle-mode">

  <span class="mrs">Development</span>

  <span id="mode" class="flipswitch flipswitch-yes bootnode">
    <label class="flipswitch-lbl-yes">
      <input type="radio" checked="checked" name="mode"> On
    </label>

    <span class="flipswitch-sliders">
      <span class="flipswitch-outer">
        <span class="flipswitch-inner">
          <span class="flipswitch-btn-no"></span>
          <span class="flipswitch-btn-yes"></span>
        </span>
      </span>
      <span class="flipswitch-slider"></span>
    </span>

    <label class="flipswitch-lbl-no">
      <input type="radio" name="mode"> Off
    </label>
  </span>

</span>
