<div class="toggle-code dispib">
  <a class='show btn btn-primary'>
    show code
    <span class="vicon vicon-arrow-down-alt btn-icon-after"></span>
  </a>
  <a class='hide btn btn-primary'>
    hide code
    <span class="vicon vicon-arrow-up-alt btn-icon-after"></span>
  </a>
</div>
