.btn, .core-form .btn {
  // General Properties
  $_padding:           3px 10px;
  $_borderRadius:        $borderRadiusS;

  // Rules
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  padding: $_padding;
  @include border-radius($_borderRadius);
  position: relative;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  @include box-shadow(none);
  @include user-select(none);

  &:hover, &:focus {
    text-decoration: none;
    @include box-shadow(0 1px 1px rgba(0,0,0,.1));
  }
  &:active, &.active {
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.2));
  }

  // Support for old layout
  span {
    input, button {
      display:inline;
      border:none;
      padding:0;
      line-height: $baseLineHeight;
      background:none;
      text-align:center;
      padding:0;
      margin:0;
      cursor:pointer;
      font-family:inherit;
      font-size:inherit !important;
    }
    img {
      vertical-align: text-top;
    }
  }

  // Icon font
  .vicon.btn-icon-before {
    margin: 0 -2px 0 -7px;
    font-size: 8px;
  }
  .vicon.btn-icon-after {
    margin: 0 -7px 0 -2px;
    font-size: 8px;
  }
}
.btn-primary, .btn-secondary, .socialAction, .eventsAction,
.core-form .btn-primary, .core-form .btn-secondary {
  $_primaryBgColor:        $buttonPrimaryBgColor; // in browsers that don't support gradients this will be solid
  $_primaryStartColor:       $buttonPrimaryBgColor; // the gradient start color (at the top of the button)
  $_primaryEndColor:       $buttonPrimaryEndColor; // the gradient end color (at the bottom of the button)
  $_primaryHoverColor:       $buttonPrimaryHoverColor;
  $_primaryBorderColor:      $buttonPrimaryBorderColor;
  $_primaryTextColor:      $buttonPrimaryTextColor;

  color: $_primaryTextColor;
  span, input, button { color: $_primaryTextColor; }
  border: 1px solid $_primaryBorderColor;
  @include gradient-vertical($_primaryStartColor, $_primaryEndColor);

  &:hover, &:focus {
    @include gradient-vertical($_primaryHoverColor, $_primaryBorderColor);
    color: $_primaryTextColor;
  }
  &:active {
    @include gradient-vertical($_primaryHoverColor, $_primaryBorderColor);
  }
  &.btn-disabled,
  &.btn-loading {
    background-color: lighten($_primaryBgColor, 10%);
    border-color: lighten($_primaryBorderColor, 15%);
    color: darken($_primaryBorderColor,3%);
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active,
    span {
	    background-color: lighten($_primaryBgColor, 10%);
    	border-color: lighten($_primaryBorderColor, 15%);
	    color: darken($_primaryBorderColor,3%);
    }
    .vicon {
      color: darken($_primaryBorderColor,3%);
    }
  }
  &.btn-loading,
  &.btn-loading:hover,
  &.btn-loading:focus,
  &.btn-loading:active {
  		span {
  			background: transparent url("#{$img-buttons-dir}/loaders/secondary.gif") no-repeat 50% 0.3em;
  			*background-position-y: 0;
  		}
  }
  &.btn-inactive,
  &.btn-inactive:hover,
  &.btn-inactive:focus {
    border-color: $_primaryBorderColor;
    @include gradient-vertical($_primaryStartColor, $_primaryEndColor);
    @include box-shadow(none);
    cursor: default;
  }
}
.btn-default, .secEventsAction, .core-form .btn-default {
  $_defaultBgColor:        $buttonDefaultBgColor; // in browsers that don't support gradients this will be solid
  $_defaultStartColor:       $buttonDefaultBgColor; // the gradient start color (at the top of the button)
  $_defaultEndColor:       $buttonDefaultEndColor; // the gradient end color (at the bottom of the button)
  $_defaultHoverColor:       $buttonDefaultHoverColor;
  $_defaultBorderColor:      $buttonDefaultBorderColor;
  $_defaultTextColor:      $buttonDefaultTextColor;

  border: 1px solid $_defaultBorderColor;
  @include gradient-vertical($_defaultStartColor, $_defaultEndColor);
  color: $_defaultTextColor;
  span, input, button { color: $_defaultTextColor; }

  .vicon {
    color: $gray;
  }

  &:hover,
  &:focus {
    @include gradient-vertical($_defaultHoverColor, $_defaultBorderColor);
    color: $_defaultTextColor;

    .vicon {
      color: $_defaultTextColor;
    }
  }
  &:active {
    @include gradient-vertical($_defaultHoverColor, $_defaultBorderColor);
  }
  &.btn-disabled,
  &.btn-loading {
    background-color: $_defaultEndColor;
    border-color: $_defaultBorderColor;
    color: darken($_defaultBorderColor,5%);
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active,
    span {
	    background-color: $_defaultEndColor;
	    border-color: $_defaultBorderColor;
	    color: darken($_defaultBorderColor,5%);
    }
    .vicon {
      color: darken($_defaultBorderColor,5%);
    }
  }
  &.btn-inactive,
  &.btn-inactive:hover,
  &.btn-inactive:focus {
    border-color: $_defaultBorderColor;
    @include gradient-vertical($_defaultStartColor, $_defaultEndColor);
    @include box-shadow(none);
    cursor: default;
  }
}
.btn-tertiary {
  $_tertiaryBgColor:        $buttonTerBgColor; // in browsers that don't support gradients this will be solid
  $_tertiaryStartColor:       $buttonTerBgColor; // the gradient start color (at the top of the button)
  $_tertiaryEndColor:       $buttonTerBorderColor; // the gradient end color (at the bottom of the button)
  $_tertiaryHoverColor:       $buttonTerHoverColor;
  $_tertiaryBorderColor:      $buttonTerBorderColor;
  $_tertiaryTextColor:      $buttonTerTextColor;

  color: $_tertiaryTextColor;
  span, input, button { color: $_tertiaryTextColor; }
  border: 1px solid $_tertiaryBorderColor;
  @include gradient-vertical($_tertiaryStartColor, $_tertiaryEndColor);

  .vicon {
    color: $_tertiaryTextColor;
  }

  &:hover,
  &:focus {
    @include gradient-vertical($_tertiaryStartColor, $_tertiaryHoverColor);
    border-color: $_tertiaryHoverColor;
    color: $_tertiaryTextColor;
  }
  &:active {
    @include gradient-vertical($_tertiaryStartColor, $_tertiaryHoverColor);
  }
  &.btn-disabled,
  &.btn-loading {
    background-color: lighten($_tertiaryEndColor,3%);
    border-color: $_tertiaryBorderColor;
    color: darken($_tertiaryBorderColor,5%);
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active,
    span {
	    background-color: lighten($_tertiaryEndColor,3%);
    	border-color: $_tertiaryBorderColor;
	    color: darken($_tertiaryBorderColor,5%);
    }
    .vicon {
      color: darken($_tertiaryBorderColor,5%);
    }
  }
  &.btn-inactive,
  &.btn-inactive:hover,
  &.btn-loading:focus {
    border-color: $_tertiaryBorderColor;
    @include gradient-vertical($_tertiaryStartColor, $_tertiaryEndColor);
    @include box-shadow(none);
    cursor: default;
  }
}

.btn-small, .core-form .btn-small {
  $_padding:     1px 10px;
  $_borderRadius:  $borderRadiusS;

  padding: $_padding;
  @include border-radius($_borderRadius);
  font-size: 11px;

  .global-icon {
    margin: -1px 0;
  }

}

.btn-large, .core-form .btn-large {
  $_padding:     7px $spacingM;
  $_borderRadius:  $borderRadiusS;

  padding: $_padding;
  @include border-radius($_borderRadius);
  font-size: 13px;
}

.btn-lead, .core-form .btn-lead {
  position: relative;
  z-index: 2;
  padding: $spacingM ($spacingXl * 2);
  font-size: ($baseFontSize * 1.25);
  margin: 6px;

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -6px; right: -6px; bottom: -6px; left: -6px;
    border-radius: 6px;
    box-shadow: 0 1px 9px rgba($black, (10/100)) inset;
  }
}

.btn-desc {
  display: inline-block;
  *display: inline; *zoom: 1;

  dt {
    text-align: center;
    font-size: ($baseFontSize * .9);
    color: $gray;
  }
}

.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active,
.btn-loading,
.btn-loading:hover,
.btn-loading:focus,
.btn-loading:active {
  cursor: default;
  @include box-shadow(none);
  background-image: none;
}
.btn-loading,
.btn-loading:hover,
.btn-loading:focus,
.btn-loading:active {
	span {
	   display: inline-block;
	   overflow: hidden;
	   height: 0;
	   padding: 1em 0 0 0;
	   background: transparent url("#{$img-buttons-dir}/loaders/default.gif") no-repeat 50% 0.3em;
	   *background-position-y: 0;
	}
}

.btn-append {
  $_borderRadius:  $borderRadiusS;

  border-radius: 0 $_borderRadius $_borderRadius 0;
  margin-left: -$_borderRadius;
  padding-left: 0;
  padding-right: 4px;
}

.btn-icon {
  padding: 10px 4px 6px;
  border: 1px solid lighten($buttonDefaultBorderColor, 3%);
  @include gradient-vertical($buttonDefaultBgColor, lighten($buttonDefaultEndColor, 3%));

  &:hover,
  &:focus {
    border-color: $buttonPrimaryBorderColor;
    @include gradient-vertical($buttonPrimaryBgColor, $buttonPrimaryEndColor);

    .vicon {
      color: lighten($black, 25%);
    }
  }

  .vicon {
    font-size: 12px;
    color: lighten($black, 45%);
    margin: 0;
    *margin: -0.5em 0 0;
    *line-height: 2.25em;
  }

  &.btn-disabled {
    &:hover,
    &:focus {
      border-color: lighten($buttonDefaultBorderColor, 3%);
      @include gradient-vertical($buttonDefaultBgColor, lighten($buttonDefaultEndColor, 3%));
    }

    .vicon {
      color: lighten($black, 75%);
    }
  }
}

.btn-link {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: $linkColor;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: none;
    text-decoration: underline;
    color: $linkColorHover;
  }
}

.btn-pagination {
  @include padding($rtl, ($spacingXs + 1), 13px, ($spacingXs + 1), 13px);
  font-size: ($baseFontSize + 3);
  color: $grayDark;
  background: transparent;

  .vicon {
    color: $grayDark;

    &.btn-icon-after,
    &.btn-icon-before {
      position: relative;
      top: -1px;
    }

    &.btn-icon-after {
      @include margin($rtl, 0, -$spacingS, 0, $spacingXs);
    }
    &.btn-icon-before {
      @include margin($rtl, 0, $spacingXs, 0, -$spacingS);
    }
  }

  &:hover,
  &:focus {
    background: lighten($linkColor, 20%);
    color: $white;
    box-shadow: none;

    .vicon {
      color: $white;
    }
  }

  &:active {
    background: $linkColor;
  }
}
