.progressbar {
	background: #F8F8F8;
	@include border-radius(10px);
	@include box-shadow(inset 0 0 6px rgba(0, 0, 0, 0.15));
	height: 20px;
	margin: 15px 0;
	position: relative;
	width: 100%;

	&:before {
		content: "";
		position: absolute;
		top: -5px;
		right: -5px;
		bottom: -5px;
		left: -5px;
		@include box-shadow(inset 0 0 4px rgba(0, 0, 0, 0.1));
		@include border-radius(15px);
	}

	.pb-mask {
		@include border-radius(10px);
		height: 100%;
		overflow: hidden;
	}

	.pb-fill {
		$fillPrimaryColor: #FA6900;
		$fillSecondaryColor: #FF973A;

		background: $fillPrimaryColor;
    @include gradient-vertical($fillPrimaryColor, $fillSecondaryColor);
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  	height: 100%;
  	min-width: 3%;
	}

	&.pb-large {
		@include border-radius(20px);
		height: 32px;

		&:before {
			top: -6px;
			right: -6px;
			bottom: -6px;
			left: -6px;
			@include border-radius(23px);
		}

		.pb-mask {
			@include border-radius(20px);
		}
	}
}
