// Box

.bx {
	padding: @spacingL;
	border-radius: @borderRadiusS;
	background: @white;
	box-shadow: 1px 1px 4px fade(@black, 20%);
	position: relative;
}

.bx-alert {
	position: relative;
	padding: @spacingL @spacingL @spacingM;
	border: 2px solid @white;
	background: tint(@blueSoft, 90%);
	box-shadow: 0 1px 4px fade(@black, 15%);

	.core-form & {
		padding: @spacingXs @spacingM @spacingXs;
	}

	.bx-alert-close {
		.position (@rtl) when (@rtl = false) { right: -5px; }
		.position (@rtl) when (@rtl = true) { left: 0; }

		position: absolute;
		top: -3px;
		.position(@rtl);

		.vicon {
			color: tint(@blueSoft, 50%);
		}
		&:hover,
		&:focus {
			.vicon {
				color: tint(@blueSoft, 20%);
			}
		}
		&:focus {
			outline: thin dotted;
		}
	}

	.bx-alert-icon {
		display: inline-block;
		width: 10%;
		height: 1.75em;
		font-size: 20px;
		color: tint(@blueSoft, 60%);
		text-shadow: 0 -1px 1px fade(@black, 70%), 0 1px 1px fade(@white, 100%);
		vertical-align: middle;
    *line-height: 2.25em;
    *margin-top: -1.5em;
	}

	.bx-alert-content {
		display: inline-block;
		width: 89%;
		vertical-align: middle;
		*zoom: 1;
		*display: inline;
	}

	.bx-alert-title {
		margin: 0 0 @spacingXs 0;
	}
}

.bx-alert-warning {
	padding: @spacingM @spacingL @spacingS @spacingL;
	border: 0;
	border-bottom: 1px dotted lighten(@black, 90%);
	#gradient > .vertical(tint(@yellow, 80%), tint(@yellow, 70%));

	.bx-alert-close {
		.vicon {
			color: @yellow;
		}
		&:hover,
		&:focus {
			.vicon {
				color: shade(@yellow, 20%);
			}
		}
	}
}

.bx-alert-error {
	padding: @spacingM @spacingL @spacingS @spacingL;
	border: 0;
	border-bottom: 1px dotted lighten(@black, 90%);
	color: @errorText;
	#gradient > .vertical(tint(@errorText, 85%), tint(@errorText, 80%));

	.bx-alert-close {
		.vicon {
			color: tint(@errorText, 60%);
		}
		&:hover,
		&:focus {
			.vicon {
				color: tint(@errorText, 30%);
			}
		}
	}
}
