// General Properties

@_padding: 3px 8px;
@_margin: 2px -4px;
@_textColor: @grayDark;
@_ActiveColor: #e1eaf0;
@_menuBorderColor: #cdd9e2;
@_listBorder: 1px dotted #cad7e0;
@_listBackground: @white;

// Dropdown

.dd  {

  position:relative;
  display:inline-block;
  .ie7-inline-block();
  text-shadow: none;

  // Button

  .dd-btn {
    .vicon {
      .margin(@rtl, 0, -6px, 0, -2px);
      line-height: 12px;
      *line-height: 20px;
      *margin-top: -3px;
    }

    .arrow {
      background-position: -159px -48px;
      .left(@rtl, 3px);
      .margin(@rtl, 0, 6px, 0, -3px);
      position: relative;
      vertical-align: middle;
      height: 15px;
    }

    &.btn-append .arrow {
      border: 0;
      box-shadow: none;
      left: auto;
      margin: 0;
      vertical-align: bottom;
    }
  }

  .btn {
  	.arrow {
      .margin(@rtl, 0, -2px, 0, 0);
  	}
  }

  .btn-tertiary {
    .arrow {
      background-position: -159px -64px;
    }
  }

  .btn-small {
  	.arrow {
		  background-position: -159px -49px;
		  height: 14px;
		}
  }

  // Menu

  .dd-menu {
    background: @white;
    border: 1px solid @_menuBorderColor;
    .border-radius(3px);
    .box-shadow(0 3px 4px 0 rgba(0, 0, 0, .2));
    outline: medium none;
    padding: 0 5px;
    .left(@rtl, 0);
    top: 100%;
    position: absolute;
    width: auto;
    min-width: 100% !important;
    z-index: 10;
    display: none;

    // Menu item

    .dd-item {
      border-top: @_listBorder;
      padding: 0;
      list-style: none;

      &:first-child {
        border: 0;
      }

      // Menu link
      a, .label {
        white-space: nowrap;
        padding: @_padding;
        margin: @_margin;
        color: @_textColor;
      }

      a {
        display: block;
        text-decoration: none;

        &.dd-btn {
          padding-right: 24px;
        }
      }

      &.active a, a:hover {
        background-color: @_ActiveColor;
      }

      .label {
        display: inline-block;
        font-weight: bold;
      }
    }

  }

  // State

  &.open {
    .dd-menu {
      display: block;
    }
  }

   // Position

  &.pull-right {
    .dd-menu {
      .left(@rtl, auto);
      .right(@rtl, 0);
    }
  }

  &.pull-top {
    .dd-menu {
      top: auto;
      bottom: 100%;
      margin-bottom: @spacingXs;
    }
  }

  // Sub menu

  .dd {

    .dd-btn {
      .arrow {
        background-position: -16px -256px;
        position: absolute;
        right: 5px;
        left: auto;
      }
    }

    .dd-menu {
      overflow:visible;
      min-width:auto;
      position:absolute;
      top:-1px;
      left:100%;
      background:@_listBackground;
      display:none;

    }

    &.open {
      .dd-menu {
        display:block;
      }
      .dd-btn {
        .arrow {
          background-position: -16px -240px;
        }
      }
    }
  }

}

.msie .dd .dd-menu {border:@_listBorder;}
.msie7 .dd .dd-menu .dd-item {overflow: visible;}
.msie6 .open,
.msie7 .dd.open {z-index:10}

// When the dropdown is appended to an input field
.core-form .input-append .dd .active.btn-default {
  border-color: @buttonDefaultBorderColor;
}
