.paginator {
	li {
		display: inline-block;
		margin: 0 0.1em;
		padding: 0;

		*display: inline;
		*zoom: 1;

		a {
			display: inline-block;
			min-width: 26px;
			padding: @spacingXs 0;
			text-align: center;
			color: @grayDark;
			text-decoration: none;
			font-weight: bold;
			font-size: (@baseFontSize - 1);
			border: 1px solid lighten(@borderColor, 5%);
			border-radius: @borderRadiusS;
			background: @white;
		}

		&.arrow {
			a {
				#gradient > .vertical(@buttonDefaultBgColor, @buttonDefaultEndColor);

				&:hover,
				&:focus {
					border-color: @buttonDefaultBorderColor;
					#gradient > .vertical(@buttonDefaultHoverColor, @buttonDefaultBorderColor);

					.vicon {
						color: @black;
					}
				}
			}

			.vicon {
				margin-right: 0;
				font-size: 7px;
				color: @gray;
			}

			&.disabled {
				a {
					border-color: lighten(@borderColor, 5%);
					#gradient > .vertical(@buttonDefaultBgColor, @buttonDefaultEndColor);
					cursor: default;

					.vicon {
						color: @grayLight;
					}
				}
			}
		}

		&.ellipsis {
			span {
				margin: 0 @spacingXs;
				color: @grayLight;
			}
		}

		&.active {
			a {
				border-color: @borderColor;
				#gradient > .vertical(lighten(@borderColor, 10%), lighten(@borderColor, 5%));
			}

			.vicon {
				color: @black;
			}
		}

		&.active {
			a {
				cursor: default;
			}
		}

		a:hover,
		a:focus {
			box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
			border-color: @borderColor;
			#gradient > .vertical(lighten(@borderColor, 10%), lighten(@borderColor, 5%));


			.vicon {
				color: @black;
			}
		}
	}
}

.paginator-multi {
	li {
		padding: 0;
		margin: 0 2px;
		a {
			outline: none;
			&:focus {
				outline: thin dotted;
			}
		}
	}

	.multi {
		position: relative;

		&.open {
			.multi-list {
				opacity: 1;
				visibility: visible;
				top: 50%;
			}
		}

		.multi-list {
			position: absolute;
			z-index: 100;
			left: 0;
			top: 100%;
			width: 100%;
			max-height: 185px;
			overflow-x: hidden;
			visibility: hidden;
			opacity: 0;
			border: 1px solid @borderColor;
			.transition(opacity 0.5s);
			background: @white;
			box-shadow:
				inset 0 7px 21px -17px rgba(0, 0, 0, 0.7),
				inset 0 -7px 21px -17px rgba(0, 0, 0, 0.6);
		}

		.paginator-btn {
			padding-left: @spacingS;
			padding-right: @spacingXs;
			#gradient > .vertical(@buttonDefaultBgColor, @buttonDefaultEndColor);

			.vicon {
				margin-right: 0;
				margin-left: -2px;
				font-size: 7px;
				color: @gray;
			}
		}

		ul {
			width: 150%;
			max-height: 183px;
			overflow-y: scroll;
			border-radius: @borderRadiusS;

			li {
				margin: 0;
				padding: 0;
				display: block;

				a {
					display: block;
					text-align: center;
					border: 0 none;
					padding: 5px 10% 5px 0;
					background: none;
					border-radius: 0;
					box-shadow: none;
					outline: none;
					filter: none;

					&.active, &:hover, &:focus {
						#gradient > .vertical(lighten(@borderColor, 10%), lighten(@borderColor, 5%));
					}

					&.active {
						border: 1px solid @borderColor;
						border-width: 1px 0;
					}
				}
			}
		}
	}
}
