<table class="table table-text table-hover">
      <thead>
        <tr>
          <th>Helper class name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code class=" language-css">.cf</code></td>
          <td>A badass clearfix hack to clear floating elements without using presentational markup. Just apply this to the parent container and you won't need to use <code><v:content><div class="clear"></div></v:content></code> anymore. See <a href="http://nicolasgallagher.com/micro-clearfix-hack/">http://nicolasgallagher.com/micro-clearfix-hack</a> for more details :)</td>
        </tr>
        <tr>
          <td><code class=" language-css">.hidden</code></td>
          <td>Hides an element. Use this as opposed to inline styles.</td>
        </tr>
        <tr>
          <td><code class=" language-css">.elsewhere</code></td>
          <td>Moves an element off the page, hiding it from the user.</td>
        </tr>
        <tr>
          <td><code class=" language-css">.fl</code> <code class=" language-css">.fr</code></td>
          <td>Floats an element left or right, respectively.</td>
        </tr>
        <tr>
          <td><code class=" language-css">.fno</code></td>
          <td>Cancels the floating position of an element.</td>
        </tr>
        <tr>
          <td><code class=" language-css">.clr</code></td>
          <td>Clearing floated elements.</td>
        </tr>
        <tr>
          <td><code class=" language-css">.layered</code></td>
          <td>Absolutely positioning an element: removing it from the flow of the document.</td>
        </tr>
        <tr>
          <td><code class=" language-css">.decorative</code></td>
          <td>Force secondary font</td>
        </tr>
        <tr>
          <td><code class=" language-css">.uppercase</code></td>
          <td>Transform text in uppercase</td>
        </tr>
        <tr>
          <td><code class=" language-css">.lowercase</code></td>
          <td>Transform text in lowercase</td>
        </tr>
      </tbody>
    </table>
