{{#markdown}}
Usage: **.va[alignment]**.<br />
Example: **.vam** (vertically alignment of an element to the middle).
{{/markdown}}

<table class="table table-text table-hover">
      <thead>
        <tr>
          <th>Value</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code class=" language-css">[alignment]</code></td>
          <td>
            <p>The vertical alignment. Values can be:</p>
            <ul class="link-list">
              <li><code class=" language-css">m</code> Middle</li>
              <li><code class=" language-css">b</code> Bottom</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
