<div class="gr grsl">

  <div class="gu gu-3of5 gu-m-1of2 gu-s-1of1">
    <div class="bx">
      <h2 class="h-bx h-bx-main">Main content</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum laoreet dolor, vitae adipiscing quam commodo sed. Cras porta dictum sem quis aliquet. Aenean a neque sed dolor lacinia iaculis.</p>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum laoreet dolor, vitae adipiscing quam commodo sed. Cras porta dictum sem quis aliquet. Aenean a neque sed dolor lacinia iaculis.</p>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </div>
  </div>

  <div class="gu gu-last">
    <div class="bx">
      <h2 class="h-bx">Aside</h2>
      <ul>
        <li>Lorem ipsum</li>
        <li>Consectetur</li>
        <li>Sed do eiusmod</li>
        <li>Et dolore magna aliqua</li>
      </ul>
    </div>
    <div class="bx">
      <h2 class="h-bx">Picture</h2>
      <img src="http://placehold.it/400x400" alt="" class="fluid-media">
    </div>
  </div>

</div>

{{> toggle-code}}
{{#markdown}}
```html
<div class="gr grsl">

  <div class="gu gu-3of5 gu-m-1of2 gu-s-1of1">
    <div class="bx">
      <h2 class="h-bx h-bx-main">Main content</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum laoreet dolor, vitae adipiscing quam commodo sed. Cras porta dictum sem quis aliquet. Aenean a neque sed dolor lacinia iaculis.</p>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum laoreet dolor, vitae adipiscing quam commodo sed. Cras porta dictum sem quis aliquet. Aenean a neque sed dolor lacinia iaculis.</p>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </div>
  </div>

  <div class="gu gu-last">
    <div class="bx">
      <h2 class="h-bx">Aside</h2>
      <ul>
        <li>Lorem ipsum</li>
        <li>Consectetur</li>
        <li>Sed do eiusmod</li>
        <li>Et dolore magna aliqua</li>
      </ul>
    </div>
    <div class="bx">
      <h2 class="h-bx">Picture</h2>
      <img src="http://placehold.it/400x400" alt="" class="fluid-media">
    </div>
  </div>

</div>
```
{{/markdown}}
