<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{% if page.title %} {{ page.title }} | {% endif %} CoreUI</title>
<link rel="stylesheet" href="css/coreui.css" />
<link rel="stylesheet" href="css/coreui-documentation.css" />
<link rel="stylesheet" href="lib/prism/prism.css" />
<link rel="stylesheet" href="lib/prism/plugins/line-highlight/prism-line-highlight.css" />
<script src="lib/prism/prism.js"></script>
<script src="lib/prism/plugins/line-highlight/prism-line-highlight.min.js"></script>
<script src="lib/tetra.min.js"></script>
</head>

<body>

<div class="fixed-container">

<h1>
  CoreUI
  <span class="sub mts mbxl">A smart, easy-to-use toolkit for creating rich interfaces in lightning speed!</span>
</h1>

<ul class="nav nav-tabs bootnode" data-event="click" data-view="comp_navtabs/navtabs" data-target-id="section-container">
    <li{% if page.url == '/grid-system.html' %} class="active"{% endif %}><a href="grid-system.html">Grid</a></li>
    <li{% if page.url == '/rich-containers.html' %} class="active"{% endif %}><a href="rich-containers.html">Rich Containers</a></li>
    <li{% if page.url == '/typography.html' %} class="active"{% endif %}><a href="typography.html">Typography</a></li>
    <li{% if page.url == '/forms.html' %} class="active"{% endif %}><a href="forms.html">Forms</a></li>
    <li{% if page.url == '/helpers.html' %} class="active"{% endif %}><a href="helpers.html">Helpers</a></li>
    <li{% if page.url == '/variables.html' %} class="active"{% endif %}><a href="variables.html">Variables</a></li>
    <li{% if page.url == '/components.html' %} class="active"{% endif %}><a href="components.html">Components</a></li>
    <li{% if page.url == '/icons.html' %} class="active"{% endif %}><a href="icons.html">Icons</a></li>
    <li{% if page.url == '/dialogs.html' %} class="active"{% endif %}><a href="dialogs.html">Dialogs</a></li>
</ul>

<div class="nav-tabs-section" id="section-container">
        <div class="section">
            {{ content }}
        </div>
    
    <div class="loader tac">
        <img src="/v_img/profilev2/ajax-loader.gif" />
        <p>loading...</p>
    </div>
</div>

</div>

<script>
tetra.extend({
    conf: {
        env: 'jQuery',
        enableBootstrap: true
    }
}).start();
</script>

</body>
</html>
