<a class="btn btn-pagination" href="">
  <i class="vicon vicon-prev btn-icon-before"></i>
  Previous
</a>
<a href="" class="btn btn-pagination">
  Next <i class="vicon vicon-next btn-icon-after"></i>
</a>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<a class="btn btn-pagination" href="">
  <i class="vicon vicon-prev btn-icon-before"></i>
  Previous
</a>
<a href="" class="btn btn-pagination">
  Next <i class="vicon vicon-next btn-icon-after"></i>
</a>
```
{{/markdown}}
{{> copy-code}}
</div>
