<p>Primary tab</p>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
  <li><a href="#">Contacts</a></li>
  <li><a href="#">Other</a></li>
  <li class="side-links"><a href="#">link</a></li>
</ul>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
  <li><a href="#">Contacts</a></li>
  <li><a href="#">Other</a></li>
  <li class="side-links"><a href="#">link</a></li>
</ul>
```
{{/markdown}}
{{> copy-code}}
</div>

<p>Secondary tab</p>

<ul class="nav nav-tabs-secondary">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
  <li><a href="#">Contacts</a></li>
  <li><a href="#">Other</a></li>
  <li class="side-links"><a href="#"><i class="vicon">c</i></a></li>
</ul>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<ul class="nav nav-tabs-secondary">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
  <li><a href="#">Contacts</a></li>
  <li><a href="#">Other</a></li>
  <li class="side-links"><a href="#"><i class="vicon">c</i></a></li>
</ul>
```
{{/markdown}}
{{> copy-code}}
</div>
