<dl class="gr nav-steps mbl">
  <dd class="gu gu-1of1">
  <ol class="gr">
    <li class="gu gu-1of4 gu-m-1of1 nav-steps-done">
    <a href="">
      <b class="nav-steps-item"><i class="vicon">v</i></b>
      <span class="nav-steps-text">Sed do eiusmod tempor incididunt</span>
    </a>
    </li>
    <li class="gu gu-1of4 gu-m-1of1 nav-steps-done">
    <a href="">
      <b class="nav-steps-item"><i class="vicon">v</i></b>
      <span class="nav-steps-text">Et dolore magna</span>
    </a>
    </li>
    <li class="gu gu-1of4 gu-m-1of1">
    <a href="">
      <b class="nav-steps-item">3</b>
      <span class="nav-steps-text">Ut labore et dolore magna</span>
    </a>
    </li>
    <li class="gu gu-last nav-steps-todo">
    <b class="nav-steps-item">4</b>
    <span class="nav-steps-text">Nostrud exercitation</span>
    </li>
  </ol>
  </dd>
</dl>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<dl class="gr nav-steps mbl">
  <dd class="gu gu-1of1">
  <ol class="gr">
    <li class="gu gu-1of4 gu-m-1of1 nav-steps-done">
    <a href="">
      <b class="nav-steps-item"><i class="vicon">v</i></b>
      <span class="nav-steps-text">Sed do eiusmod tempor incididunt</span>
    </a>
    </li>
    <li class="gu gu-1of4 gu-m-1of1 nav-steps-done">
    <a href="">
      <b class="nav-steps-item"><i class="vicon">v</i></b>
      <span class="nav-steps-text">Et dolore magna</span>
    </a>
    </li>
    <li class="gu gu-1of4 gu-m-1of1">
    <a href="">
      <b class="nav-steps-item">3</b>
      <span class="nav-steps-text">Ut labore et dolore magna</span>
    </a>
    </li>
    <li class="gu gu-last nav-steps-todo">
    <b class="nav-steps-item">4</b>
    <span class="nav-steps-text">Nostrud exercitation</span>
    </li>
  </ol>
  </dd>
</dl>
```
{{/markdown}}
{{> copy-code}}
</div>
