<p>The standard and backward compatible way.</p>

<ul class="paginator">
  <li class="disabled"><a class="btn btn-pagination" href=""><i class="vicon vicon-prev btn-icon-before"></i> Previous</a></li>
  <li><a href="">1</a></li>
  <li class="active"><a href="">2</a></li>
  <li><a href="">3</a></li>
  <li class="ellipsis"><span>…</span></li>
  <li><a href="">9</a></li>
  <li><a href="">10</a></li>
  <li><a class="btn btn-pagination" href="">Next <i class="vicon vicon-next btn-icon-after"></i></a></li>
</ul>

<div class="code-content">
{{> toggle-code}}
{{#markdown}}
```html
<ul class="paginator">
  <li class="disabled"><a class="btn btn-pagination" href=""><i class="vicon vicon-prev btn-icon-before"></i> Previous</a></li>
  <li><a href="">1</a></li>
  <li class="active"><a href="">2</a></li>
  <li><a href="">3</a></li>
  <li class="ellipsis"><span>…</span></li>
  <li><a href="">9</a></li>
  <li><a href="">10</a></li>
  <li><a class="btn btn-pagination" href="">Next <i class="vicon vicon-next btn-icon-after"></i></a></li>
</ul>
```
{{/markdown}}
{{> copy-code}}
</div>
