.nav {
	margin: 0;
	margin-bottom: @baseLineHeight;
	list-style: none;
}
.nav li a {
	display: block;
	_display: inline-block;
	
	&:hover {
		text-decoration: none;
	}
}

// Tabs & Pills
.nav-tabs, .nav-pills {
	.clearfix();
	.user-select(none);
	
	li {
		float: left;
		padding: 0; // Override existing generic styles
		position: relative;
		
		a {
			.transition(background-color 0.15s ease-out);
		
			&:hover {
				text-decoration: none;
			}
		}
	}
	li.side-links {
	   float: right;
	   
	   a {
       padding: 8px 4px;
       color: @gray;
       background: none;
       border: none;
       box-shadow: none;
       .transition(none);

       &:focus, &:hover, &:active {
         color: @linkColorHover;
         text-decoration: underline;
         background: none;
       }
	   }
	}
}

// Tabs
.nav-tabs {
	@secondaryActiveColor:  #edf2f5;
	@hoverColor:			#e1eaf0;
	@barHeight:            36px;
	@fontSize:             13px;
	@borderWidth:          1px;
	@verticalPadding:	   9px;
	@horizontalPadding:    25px;
	@tabHeight:				@barHeight - (@borderWidth * 2) - (@verticalPadding * 2);
	
	background-color: @panelBackground;
	border: @borderWidth solid @borderColor;
	border-width: @borderWidth 0 @borderWidth 0;
	padding: 0 10px;
	height: @barHeight - (@borderWidth * 2);
	
	a {
		font-size: @fontSize;
		height: @tabHeight;
		line-height: @tabHeight;
		padding: @verticalPadding @horizontalPadding;
		outline: none;
		
		&:hover {
			background-color: @hoverColor;
		}
		
		&:focus {
      background-color: @hoverColor;
    }
	}
		
	.active {
		a {
			color: @black;
			background-color: @white;
			height: @tabHeight+1;
			padding: (@verticalPadding + 2px) (@horizontalPadding - @borderWidth) @verticalPadding (@horizontalPadding - @borderWidth);
			margin-top: -3px;
			_margin-top: -2px;
			border: 1px solid @borderColor;
			border-bottom: none;
			}
			}

	// Secondary tabs
	&.nav-tabs-secondary {
		background: @panelBackground;
		border-color: @borderColor;
		margin-bottom: 0;
		padding: 0;

		a {
			border: solid lighten(@borderColor, 5%);
			border-width: 0 @borderWidth 0 0;
		}

		li:first-child a {
			border-width: 0 @borderWidth;
		}

		.active {

			a {
				background: @white;
				border: solid @borderColor;
				border-width: 0 @borderWidth 0 0;
				margin: 0;
				padding: @verticalPadding @horizontalPadding (@verticalPadding - 1px);

				.inner-arrow(bottom, 8px, #FFF, 1px, @borderColor);
			}
		}
	}
}

.nav-tabs-section .section {
	display: block;
}

.nav-tabs-section .loader {
	display: none;
}

.nav-tabs-section.loading .section {
	display: none;
}

.nav-tabs-section.loading .loader {
	display: block;
}

.msie6 .nav-tabs-secondary .active a,
.msie9 .nav-tabs-secondary .active a {
	padding-bottom: 8px; // @verticalPadding (from .nav-tabs)
}

// Pills
.nav-pills {
	border: 1px solid @borderColor;
	border-width: 1px 0;
	background: @panelBackground;
	margin: 0;
	padding: 8px @spacingS @spacingXs;

	li {
		a {
			background: @panelBackground;
			border: 1px solid @panelBackground;
			border-radius: @borderRadiusS;
			line-height: @baseLineHeight;
			margin-right: @spacingS;
			padding: @spacingXs @spacingS;

			&:hover {
				background: lighten(@borderColor, 5%);
				border-color: lighten(@borderColor, 5%);
			}
		}

		&.active a {
			color: @black;
			border: 1px solid @borderColor;
			background: @white;
			cursor: default;
		}

		&.side-links {
			a {
				margin: 0;
				background: none;
				border: none;
				.transition(none);

				&:hover {
					color: @linkColorHover;
				}
			}
		}
	}
}